{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <h1>{% trans "404 Not Found" %}</h1>

  <p> {% blocktrans %} 
  Request URL: <tt>{{request_path}}</tt>
   {% endblocktrans %} </p>

  <p> {% blocktrans %} 
  Oops. Either the URL you entered was invalid, or you stumbled on a dead link.
  If it was the latter, please get in touch with your course staff to let them
  know what you were doing when the error occurred.
   {% endblocktrans %} </p>

  <p> {% trans 
  "In the meantime, you may navigate back to  the
  <a href="{% url "relate-home" %}">{% trans "home page" %}</a>."
   %} </p>

  <p> {% blocktrans %} 
  Sorry, and thanks for your patience!
   {% endblocktrans %} </p>
{% endblock %}
