<!DOCTYPE html>
{% load i18n %}

{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>{%block title %}Relate{% endblock %}</title>

    <link href="{% static "bootstrap/dist/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "jqueryui/themes/smoothness/jquery-ui.css" %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static "fontawesome/css/font-awesome.css" %}">
    <link rel="stylesheet" href="{% static "jstree/dist/themes/default/style.min.css" %}" />
    <link rel="stylesheet" href="/static/css/style.css" >

    {# Don't be tempted to move all this JS stuff down to the end. #}
    {# The datepicker generates inline JS that relies on this being loaded. #}
    <script src="{% static "jquery/dist/jquery.js" %}"></script>
    <script src="{% static "jqueryui/jquery-ui.js" %}"></script>
    <script src="{% static "bootstrap/dist/js/bootstrap.js" %}"></script>
    <script src="{% static "jstree/dist/jstree.min.js" %}"></script>

    {{ form.media }}

    {%block header_extra %}{% endblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="{% static "videojs/dist/video-js/video-js.css" %}" rel="stylesheet">
    <script src="{% static "videojs/dist/video-js/video.js" %}"></script>
    <script type="text/javascript">
      videojs.options.flash.swf = "{% static "videojs/dist/video-js/video-js.swf" %}"
    </script>
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{%block brand_link %}/{% endblock %}">{%block brand %}Relate{% endblock %}</a>
        </div>
        <div class="navbar-collapse collapse">
          {% if not maintenance_mode %}
          <ul class="nav navbar-nav">

            {%block navbar %}{% endblock %}

            {% if user.is_staff or currently_impersonating %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Staff<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/admin" target="_blank">Admin site</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation" class="dropdown-header">Test/Troubleshoot</li>
                {% if currently_impersonating %}
                  <li><a href="{% url "relate-stop_impersonating" %}">Stop impersonating</a></li>
                {% else %}
                  <li><a href="{% url "relate-impersonate" %}">Impersonate user</a></li>
                {% endif %}
                <li><a href="{% url "relate-set_fake_time" %}">Set fake time</a></li>
              </ul>
            </li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              <li>
                <a href="{% url "relate-user_profile" %}">Signed in as {{user.username}}</a>
              </li>
              {% if currently_impersonating %}
                <li>
                  <p class="navbar-text">
                  <b>(impersonated)</b>
                  </p>
                </li>
              {% endif %}
            {% else %}
              {# Error pages don't seem to run template context processors, so #}
              {# this variable might not be available... #}
              {% if student_sign_in_view %}
                <li><a href="{% url student_sign_in_view %}">Sign in</a></li>
              {% endif %}
            {% endif %}
          </ul>
          {% endif %}{# not maintenance_mode #}
        </div><!--/.nav-collapse -->
      </div>
    </div>

    {% block root_container %}
    <div class="container">
      {% include "base-page-top.html" %}

      {% block nav_recommendations %}
      {% endblock %}

      {% block version_advice %}
      {% endblock %}

      {% block content %}
      {% endblock %}

    </div>
    {% endblock %}

    <!-- JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript"
      src="{% static "MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML" %}">
    </script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        extensions: ["tex2jax.js", "TeX/boldsymbol.js"],
        messageStyle: "none",
        // jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
          processEscapes: true
        },
      });
    </script>
  </body>
</html>
