{% load i18n %}

{% if site_announcement %}
  <div class="alert alert-warning">
    {{ site_announcement|safe }}
  </div>
{% endif %}

{% for message in messages %}
  <div class="alert
    {% if message.tags == "error" %}
      alert-danger
    {% elif message.tags|startswith:"social-auth" %}
      alert-danger
    {% else %}
      alert-{{ message.tags }}
    {% endif %}
    ">
    {% if message.tags == "error" %}
        <i class="fa fa-ban"></i>
    {% elif message.tags == "success" %}
        <i class="fa fa-check"></i>
    {% elif message.tags == "info" %}
        <i class="fa fa-info-circle"></i>
    {% elif message.tags == "warning" %}
        <i class="fa fa-warning"></i>
    {% elif message.tags == "danger warning" %}
        <i class="fa fa-warning"></i>
    {% endif %}
    {{ message|safe }}
  </div>
{% endfor %}

{% if fake_time %}
  <div class="alert alert-info">
    <i class="fa fa-info-circle"></i>
    {% blocktrans trimmed %}
    You are currently seeing a preview of what the site
    would look like at {{ fake_time }}.
    {% endblocktrans %}
    {% if user.is_staff %}
    <a class="btn btn-secondary btn-sm" href="{% url "relate-set_fake_time" %}" role="button" target="_blank">
        {% trans "Set fake time" %} &raquo;</a>
    {% endif %}
  </div>
{% endif %}

{% if pretend_facilities and add_pretend_facilities_header %}
  <div class="alert alert-info">
    <i class="fa fa-info-circle"></i>
    {% blocktrans trimmed with facilities=pretend_facilities|join:", "  %}
    You are currently seeing a preview of what the site
    would look like from inside the facilities  <b>{{ facilities }}</b>.
    {% endblocktrans %}
    {% if user.is_staff %}
    <a class="btn btn-secondary btn-sm" href="{% url "relate-set_pretend_facilities" %}" role="button" target="_blank">
        {% trans "Pretend to be in facilities" %} &raquo;</a>
    {% endif %}
  </div>
{% endif %}

{% if currently_impersonating and add_impersonation_header %}
  <div class="alert alert-info">
    <i class="fa fa-info-circle"></i>
    {% trans "Now impersonating" %} {{ user.get_full_name }} ({{ user.username }} - {{ user.email }}).
    <a class="btn btn-secondary btn-sm" onclick=stopImpersonate() role="button" target="_blank">{% trans "Stop impersonating" %} &raquo;</a>
  </div>
{% endif %}
