{% load static %}

{# the min.js version contains all dependencies #}
<script src="{% static "datatables.net/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "datatables.net-bs/js/dataTables.bootstrap.min.js" %}"></script>
<link href="{% static "datatables.net-bs/css/dataTables.bootstrap.min.css" %}" rel="stylesheet">

<script src="{% static "datatables.net-fixedcolumns/js/dataTables.fixedColumns.js" %}"></script>
<link href="{% static "datatables.net-fixedcolumns-bs/css/fixedColumns.bootstrap.min.css" %}" rel="stylesheet">

{# allow sorting fields using localeCompare method #}
<script src="{% static "js/dataTables.relate.sort.plugin.js" %}"></script>