{% load static %}

{# FIXME: minified files not available per https://github.com/DataTables/DataTables/issues/1018 #}
<script src="{% static "datatables.net/js/jquery.dataTables.js" %}"></script>
<script src="{% static "datatables.net-bs/js/dataTables.bootstrap.js" %}"></script>
<link href="{% static "datatables.net-bs/css/dataTables.bootstrap.css" %}" rel="stylesheet">

<script src="{% static "datatables.net-fixedcolumns/js/dataTables.fixedColumns.min.js" %}"></script>
<link href="{% static "datatables.net-fixedcolumns-bs/css/fixedColumns.bootstrap.min.css" %}" rel="stylesheet">

{# allow sorting fields using localeCompare method #}
<script src="{% static "js/dataTables.relate.sort.plugin.js" %}"></script>