{% load i18n %}

{% load crispy_forms_tags %}

<div class="modal fade" id="{{ form.modal_id}}" tabindex="-1" role="dialog"
     aria-labelledby="{{ form.modal_id}}_label" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">{% trans "Close" %}</span>
        </button>
        <h3 class="modal-title">{{ form.form_title}}</h3>
      </div>
      {% crispy form %}
    </div>
  </div>
</div>

{% if extra_js %}
  <script>
    (function() {
      {{ extra_js |safe }}
    })();
  </script>
{% endif %}
