{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <h1>{% blocktrans %}Sign in to {{ relate_site_name }}{% endblocktrans %}</h1>

  <ul class="list-sign-in-methods">
    {% if relate_sign_in_by_saml2_enabled %}
      <li>
        <a
          class="btn btn-primary"
          href="{% url 'saml2_login' %}{{next_uri}}"
          role="button"><i class="fa fa-institution"></i>
          {% trans "Sign in using your institution's login" %} &raquo;</a>
      </li>
    {% endif %}
    {% if relate_sign_in_by_email_enabled %}
      <li>
        <a
          class="btn btn-primary"
          href="{% url 'relate-sign_in_by_email' %}{{next_uri}}"
          role="button"><i class="fa fa-envelope-o"></i>
          {% trans "Sign in using your email" %} &raquo;</a>
      </li>
    {% endif %}
    {% if relate_registration_enabled %}
      <li>
        <a
          class="btn btn-primary"
          href="{% url 'relate-sign_up' %}"
          role="button"><i class="fa fa-user-plus"></i>
          {% trans "Sign up for an account" %} &raquo;</a>
      </li>
    {% endif %}
    {% if relate_sign_in_by_exam_tickets_enabled %}
      <li>
        <a
          class="btn btn-primary"
          href="{% url 'relate-check_in_for_exam' %}"
          role="button"><i class="fa fa-ticket"></i>
          {% trans "Sign in using an exam ticket" %} &raquo;</a>
      </li>
    {% endif %}
    {% if relate_sign_in_by_username_enabled %}
    <li>
      <a
        class="btn btn-primary"
        href="{% url 'relate-sign_in_by_user_pw' %}{{next_uri}}"
        role="button"><i class="fa fa-key"></i>
        {% blocktrans %}Sign in with a {{ relate_site_name }}-specific user name and password{% endblocktrans %} &raquo;</a>
    </li>
    {% endif %}
    {% for backend in backends.backends %}
    <li>
      <a
        class="btn btn-primary"
        href="{% url "social:begin" backend %}{{next_uri}}"
        role="button"><i class="fa fa-{{ social_provider_to_logo|get_item_or_key:backend }}"></i>
        {% blocktrans with bkend=social_provider_to_human_name|get_item_or_key:backend %}Sign in with {{ bkend }}{% endblocktrans %} &raquo;</a>
    </li>
    {% endfor %}
  </ul>
{% endblock %}
