{% extends "base.html" %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block content %}
  <h1>{% trans "User Profile" %}</h1>
  <div class="well">
    {% crispy user_form %}
  </div>
  <div class="well">
    <a href="{% url 'relate-logout' %}" class="btn btn-default col-lg-offset-2">{% trans "Sign out" %}</a>
  </div>


<script type="text/javascript">

    // toggle show/hide/disabled of fields
    function disable_inst_id_widget(){
        $('#div_id_confirm_institutional_id').hide();
        $('#id_institutional_id').prop('disabled', true);
        $("#id_no_institutional_id").prop('checked', true);
    }

    function enable_inst_id_widget(){
        $('#div_id_confirm_institutional_id').show();
        $('#id_institutional_id').prop('disabled', false);
    }

    // When no_id is checked, clear input data in inst_id
    $(document).on('click', '#id_no_institutional_id', function(event) {
        if (this.checked){
            disable_inst_id_widget();
            $('#id_institutional_id').val("");
            $('#id_confirm_institutional_id').val("")}
        else {enable_inst_id_widget();}
    });

    // crispy form cannot hide wrapping div of a field.
    $(document).ready(function(){
        if ($('#id_institutional_id').attr("disabled") == "disabled"){
            $('#div_id_confirm_institutional_id').hide();
        }
    });

</script>
{% endblock %}
