/static
*~
.*.sw[opn]
.sw[ophijklm]
local_settings.py
*.sqlite3
*.py[co]
.sw[opn]
doc/_build
node_modules

setuptools-[0-9]*
virtualenv-[0-9]*

*.egg-info
build
/dist/

*.pyz

# This is guaranteed to be sensitive--never check it in.
saml_config.py

*.pem

git-roots

.mypy_cache

/.idea
/.env

bulk-storage

/.coverage
/coverage.xml
/.vscode/
/.venv/

tags

frontend-dist
