/static
*~
.*.sw[opn]
.sw[ophijklm]
local_settings.py
*.sqlite3
*.py[co]
.sw[opn]
doc/_build
components

*.egg-info
build

*.pyz

# This is guaranteed to be sensitive--never check it in.
saml_config.py

*.pem

git-roots
