language: python
cache: pip
install: true
matrix:
  include:
  - python: "2.7"
    env: PY=true PY_EXE=python2.7
  - python: "3.5"
    env: PY=true PY_EXE=python3.5
  - python: "3.5"
    env: Flake8=true PY_EXE=python3.5
  - python: "3.6"
    env: Mypy=true PY_EXE=python3.6
script:
  - bash ./run-travis-ci.sh
