# See https://docs.djangoproject.com/en/dev/howto/deployment/checklist/

SECRET_KEY = '<CHANGE ME>'

ALLOWED_HOSTS = [
        "courseflow.example.com",
        ]

DATABASES = {
    'default': {
        'ENGINE':'django.db.backends.postgresql_psycopg2',
        'NAME': 'courseflow',
        'USER': 'courseflow',
        'PASSWORD': '<PASSWORD>',
        'HOST': '127.0.0.1',
        'PORT': '5432',
    }
}

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = False
TEMPLATE_DEBUG = DEBUG

GIT_ROOT = "/some/where"

EMAIL_HOST = '127.0.0.1'
EMAIL_HOST_USER = ''
EMAIL_HOST_PASSWORD = ''
EMAIL_PORT = 25
EMAIL_USE_TLS = False

ROBOT_EMAIL_FROM = "Andreas Kloeckner <inform@tiker.net>"

TIME_ZONE = "America/Chicago"
