# Django>=1.7 once released
https://www.djangoproject.com/download/1.7c1/tarball/

# Automatically renders Django forms in a pretty, Bootstrap-compatible way.
django-crispy-forms>=1.4.0

# Page data, answer data, ... all represented in JSON. This makes that editable
# in the Django admin.
https://github.com/bradjasper/django-jsonfield/archive/postgresql.tar.gz

# For easy content formatting:
markdown

# For rendering macros in content:
jinja2

six

# For math/symbolic questions
pymbolic
sympy

# Django timezone support
pytz

# Course content is stored in YAML.
pyyaml

# dulwich does not yet support Python3
# Using git version for fix to https://github.com/jelmer/dulwich/issues/135
dulwich

# A date picker widget
django-bootstrap3-datetimepicker
