# Django>=1.7 once released
https://www.djangoproject.com/download/1.7.b4/tarball/

django-crispy-forms>=1.4.0

markdown
sympy
pytz
https://github.com/FriendCode/mimer/archive/master.tar.gz
gittle>=0.3.0
pyyaml
