{% extends "base.html" %}

{% block content %}
  <h1>403 Forbidden</h1>

  <p>Access to the page you requested was denied.

  Here are a few things you could try:
  </p>
  <ul>
    {% if not user.is_authenticated %}
    <li>
    <a href="{{ url("student_sign_in_view") }}">Sign in</a>.

      You're not currently signed in. Access to the resource is restricted,
      and since the site has no way of knowing who you are, it denied you accesss.
      Once you're signed in, navigate back to your course from the
      <a href="{{ url("course.views.home") }}">home page</a> and retry your last
      action.
    </li>
    {% endif %}
    <li>
    Complete your enrollment in your course. If you're not enrolled, a large
    "Enroll now" button will show up at the top of your course page. Click that,
    follow the indicated steps, and then retry your last action.
    </li>
    <li>
    If none of the above steps, please navigate back to your course from the
    <a href="{{ url("course.views.home") }}">home page</a> and contact your course
    staff.
    </li>
  </ul>

  Sorry, and thanks for your patience!
{% endblock %}


