{% extends "base.html" %}

{% block content %}
  <h1>404 Not Found</h1>

  <p>
  Request URL: <tt>{{request_path}}</tt>
  </p>

  <p>
  Oops. Either the URL you entered was invalid, or you stumbled on a dead link.
  If it was the latter, Please get in touch with your course staff to let them
  know what you were doing when the error occurred.
  </p>

  <p>
  In the meantime, you may navigate back to  the
  <a href="{% url "course.views.home" %}">home page</a>.
  </p>

  <p>
  Sorry, and thanks for your patience!
  </p>
{% endblock %}
