{% extends "base.html" %}

{% block content %}
  <h1>500 Server Error</h1>

  <p>
  Oops. That shouldn't have happened. Technical details of the error have been recorded.
  Please get in touch with your course staff to let them know what you were doing
  when the error occurred. Also mention the current time when sending your report.
  </p>

  <p>
  In the meantime, you may navigate back to  the
  <a href="{% url "course.views.home" %}">home page</a>.
  </p>

  <p>
  Sorry, and thanks for your patience!
  </p>
{% endblock %}
