<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>{%block title %}CourseFlow{% endblock %}</title>

    <link href="/static/bootstrap-3.1.1-dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{%block brand_link %}/{% endblock %}">{%block brand %}CourseFlow{% endblock %}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          {%block navbar %}{% endblock %}
        </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_staff %}
              <li><a href="/admin" target="_new">Admin site</a></li>
            {% endif %}
            {% if user.is_authenticated %}
              <li>
                <a href="{% url "course.auth.user_profile" %}">Signed in as {{user.username}}</a>
              </li>
              <li>
              <a href="{% url "django.contrib.auth.views.logout" %}">Sign out</a>
              </li>
            {% else %}
              <li><a href="{% url student_sign_in_view %}">Sign in</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      {% for message in messages %}
        <div class="alert
          {% if message.tags == "error" %}
            alert-danger
          {% else %}
            alert-{{ message.tags }}
          {% endif %}
          ">
          {{ message }}
        </div>
      {% endfor %}

      {% block version_advice %}
      {% endblock %}

      {% block content %}
      {% endblock %}

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery-1.11.0.js"></script>
    <script src="/static/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
    {% if mathjax_url_root %}
      <script type="text/javascript"
        src="{{mathjax_url_root}}MathJax.js?config=TeX-AMS-MML_HTMLorMML">
      </script>
      <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          extensions: ["tex2jax.js", "TeX/boldsymbol.js"],
          // jax: ["input/TeX", "output/HTML-CSS"],
          tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
            processEscapes: true
          },
        });
      </script>
    {% endif %}
  </body>
</html>

