{% extends "course/course-base.html" %}

{% block title %}
  Analytics - RELATE
{% endblock %}

{% block content %}
  <h1>Analytics: <tt>{{ flow_identifier}} - {{ group_id }}/{{ page_id }}</tt></h1>

  <div class="well">
    {{ body|safe }}
  </div>

  <h2>Answer Distribution</h2>

  <p>
    {% if restrict_to_first_attempt %}
      Showing results for <i>only the first attempt</i> by each participant.
      <a href="?restrict_to_first_attempt=0">
        Show all attempts
      </a>
    {% else %}
      Showing results for <i>all attempts</i> by each participant.
      <a href="?restrict_to_first_attempt=1">
        Show only the first attempt
      </a>
    {% endif %}
  </p>


  <div class="answer-analytics">
  {% for astats in answer_stats_list %}
    <div class="answer-entry">
      {{ astats.normalized_answer|safe }}
      ({{ astats.count }} response{{ astats.count|pluralize }})

      <div class="progress">
        <div class="progress-bar
          {% if astats.correctness == 0 %}
            progress-bar-danger
          {% elif astats.correctness == 1 %}
            progress-bar-success
          {% elif astats.correctness == None %}
            progress-bar-info
          {% else %}
            progress-bar-warning
          {% endif %}"
          role="progressbar"
          aria-valuenow="{{ astats.percentage }}" aria-valuemin="0" aria-valuemax="100"
          style="width: {{ astats.percentage|floatformat:1 }}%">
          <span class="stats-percentage">{{ astats.percentage|floatformat:1 }}%</span>
        </div>
      </div>
    </div>
  {% endfor %}
  <div>
{% endblock %}
