{% extends "course/course-base.html" %}
{% load i18n %}

{% block title %} {% blocktrans %} 
    Analytics - RELATE
 {% endblocktrans %} {% endblock %}

{% block content %}
  <h1> {% blocktrans %} Analytics: <tt>{{ flow_identifier}}</tt> {% endblocktrans %} </h1>

  <h2>{% trans "Grade Distribution" %}</h2>

  <p> 
    {{ grade_histogram.total_weight }} grade{{ grade_histogram.total_weight|pluralize }}
    {% if participant_count != None %}
      {% blocktrans %}(from {{ participant_count }} distinct participants){% endblocktrans %}
    {% endif %}
  </p>

  {{ grade_histogram.html|safe }}

  <h2>{% trans "Page-by-Page Statistics" %}</h2>

  <div class="page-by-page-analytics">
  {% for astats in page_answer_stats_list %}
    <div class="page-entry">
      {% if astats.url %}
        <a href="{{ astats.url }}"><tt>{{ astats.group_id }}/{{ astats.page_id }}</tt></a>:
      {% else %}
        <tt>{{ astats.group_id }}/{{ astats.page_id }}</tt>:
      {% endif %}
      {{ astats.title }}
      {% blocktrans %}({{ astats.answer_count }} non-empty response{{ astats.answer_count|pluralize }},
      {{ astats.total_count }} response{{ astats.total_count|pluralize }} total){% endblocktrans %}

      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar"
          aria-valuenow="{{ astats.average_correctness_percent |floatformat:1 }}" aria-valuemin="0" aria-valuemax="100"
          style="width: {{ astats.average_correctness_percent|floatformat:9 }}%">
          <span class="stats-percentage">{{ astats.average_correctness_percent|floatformat:1 }}%</span>
        </div>
        <div class="progress-bar progress-bar-danger" role="progressbar"
          aria-valuenow="{{ astats.average_wrongness_percent|floatformat:1  }}" aria-valuemin="0" aria-valuemax="100"
          style="width: {{ astats.average_wrongness_percent|floatformat:9 }}%">
          <span class="stats-percentage">{{ astats.average_wrongness_percent|floatformat:1 }}%</span>
        </div>
        <div class="progress-bar progress-bar-warning" role="progressbar"
          aria-valuenow="{{ astats.average_emptiness_percent|floatformat:1  }}" aria-valuemin="0" aria-valuemax="100"
          style="width: {{ astats.average_emptiness_percent|floatformat:9 }}%">
          <span class="stats-percentage">{{ astats.average_emptiness_percent|floatformat:1 }}%</span>
        </div>
      </div>
    </div>
  {% endfor %}
  <div>

  <h2>{% trans "Time Distribution" %}</h2>

  {{ time_histogram.html|safe }}
{% endblock %}
