{% extends "base.html" %}

{% block brand %}
  {{ course_desc.number}}:
  {{ course_desc.name}}
  {{ course_desc.run}}
{% endblock %}

{% block brand_link %}
  {% url 'course.views.course_page' course.identifier %}
{% endblock %}

{% block navbar %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Content<b class="caret"></b></a>
    <ul class="dropdown-menu">
    {% for module in course_desc.modules %}
      <li><a href="#{{module.id}}">{{module.title}}</a></li>
    {% endfor %}
    </ul>
  </li>
{% endblock %}

{% block content %}
{% endblock %}
