{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {{ course.number}}:
  {{ course.time_period}}
  -
  {{ relate_site_name }}
{% endblock %}

{% block brand %}
  {{ course.number}}
  {{ course.time_period}}
{% endblock %}

{% block brand_link %}
  {% if not relate_exam_lockdown %}
    {% url "relate-course_page" course.identifier %}
  {% else %}
    #
  {% endif %}
{% endblock %}

{% block navbar %}
  {% block page_navbar %}
  {% endblock %}

  {% if not relate_exam_lockdown and pperm.view_calendar %}
    <li class="dropdown">
      {% comment %} Translators: The following are names for menu items in course page {% endcomment %}
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Participant" context "menu item" %}<b class="caret"></b></a>
      <ul class="dropdown-menu">
        {% if course.course_xmpp_id and pperm.send_instant_message %}
          <li><a href="{% url "relate-send_instant_message" course.identifier %}">{% trans "Send instant message" %}</a></li>
        {% endif %}
        {% if not request.user.is_anonymous %}
          <li><a href="{% url "relate-view_participant_grades" course.identifier %}">{% trans "View grades" %}</a></li>
        {% endif %}
        {% if pperm.view_calendar %}
          <li><a href="{% url "relate-view_calendar" course.identifier %}">{% trans "View calendar" %}</a></li>
        {% endif %}
        <li><a href="{% url "relate-course_page" course.identifier %}">{% trans "Back to course page" %}</a></li>
        {% if pperm.view_analytics %}
          <li role="presentation" class="divider"></li>
          <li><a href="{% url "relate-manage_authentication_tokens" course.identifier %}">{% trans "Manage Authentication Tokens" %}</a></li>
        {% endif %}
      </ul>
    </li>
  {% endif %}

  {% if pperm.view_gradebook %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Grading" context "menu item" %}<b class="caret"></b></a>
    <ul class="dropdown-menu">
      {% if pperm.view_analytics %}
        <li><a href="{% url "relate-flow_list" course.identifier %}">{% trans "Analytics Overview" %}</a></li>
      {% endif %}

      {% if pperm.view_gradebook %}
        <li role="presentation" class="divider"></li>
        <li role="presentation" class="dropdown-header">{% trans "Grade Book" %}</li>
        <li><a href="{% url "relate-view_participant_list" course.identifier %}">{% trans "List of Participants" %}</a></li>
        <li><a href="{% url "relate-view_grading_opportunity_list" course.identifier %}">{% trans "List of Grading Opportunities" %}</a></li>
        <li><a href="{% url "relate-view_gradebook" course.identifier %}">{% trans "Grade book" %}</a></li>
        {% if pperm.batch_export_grade %}
          <li><a href="{% url "relate-export_gradebook_csv" course.identifier %}">{% trans "Grade book (CSV export)" %}</a></li>
        {% endif %}
      {% endif %}
      {% if pperm.batch_import_grade %}
        <li><a href="{% url "relate-import_grades" course.identifier %}">{% trans "Import Grades" %}</a></li>
      {% endif %}
      {% if pperm.batch_regrade_flow_session %}
        <li role="presentation" class="divider"></li>
        <li><a href="{% url "relate-regrade_flows_view" course.identifier %}">{% trans "Regrade flows" %}</a></li>
      {% endif %}

      {% if pperm.grant_exception %}
        <li role="presentation" class="divider"></li>
        <li role="presentation" class="dropdown-header">{% trans "Exceptions" %}</li>
        <li><a href="{% url "relate-grant_exception" course.identifier %}">{% trans "Grant exception" %}</a></li>
        {% if user.is_staff %}
          <li><a href="{% url "admin:course_flowruleexception_changelist" %}?participation__course__id__exact={{ course.id }}" target="_blank">{% trans "Show exceptions" %}</a></li>
        {% endif %}
      {% endif %}

      {% if user.is_staff or pperm.batch_issue_exam_ticket %}
        <li role="presentation" class="divider"></li>
        <li role="presentation" class="dropdown-header">{% trans "Exams" %}</li>
        {% if user.is_staff %}
          <li><a href="{% url "admin:course_exam_changelist" %}?course__id__exact={{ course.id }}" target="_blank">{% trans "Edit exams" %}</a></li>
        {% endif %}
        {% if pperm.batch_issue_exam_ticket %}
          <li><a href="{% url "relate-batch_issue_exam_tickets" course.identifier %}">{% trans "Batch-issue exam tickets" %}</a></li>
        {% endif %}
      {% endif %}

    </ul>
  </li>
  {% endif %}

  {% if pperm.preview_content or pperm.use_markup_sandbox or pperm.use_page_sandbox %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Content" context "menu item" %}<b class="caret"></b></a>
    <ul class="dropdown-menu">

      {% if pperm.preview_content or pperm.update_content %}
        <li><a href="{% url "relate-update_course" course.identifier %}">{% trans "Retrieve/preview new course revisions" %}</a></li>
      {% endif %}

      {% if pperm.edit_course %}
        <li><a href="{% url "relate-edit_course" course.identifier %}">{% trans "Edit course" %}</a></li>
      {% endif %}

      <li role="presentation" class="divider"></li>
      <li role="presentation" class="dropdown-header">{% trans "Content creation" %}</li>
      {% if pperm.use_page_sandbox %}
        <li><a href="{% url "relate-view_page_sandbox" course.identifier %}">{% trans "Page sandbox" %}</a></li>
      {% endif %}
      {% if pperm.use_markup_sandbox %}
        <li><a href="{% url "relate-view_markup_sandbox" course.identifier %}">{% trans "Markup sandbox" %}</a></li>
      {% endif %}

      {% if pperm.test_flow %}
        <li role="presentation" class="divider"></li>
        <li><a href="{% url "relate-test_flow" course.identifier %}">{% trans "Test flow" %}</a></li>
      {% endif %}

      {% if pperm.edit_events %}
        <li role="presentation" class="divider"></li>
        <li role="presentation" class="dropdown-header">{% trans "Calendar" %}</li>
        {% if user.is_staff %}
          <li><a href="{% url "admin:course_event_changelist" %}?course__id__exact={{ course.id }}" target="_blank">{% trans "Edit events" %}</a></li>
        {% endif %}
        <li><a href="{% url "relate-create_recurring_events" course.identifier %}">{% trans "Create recurring events" %}</a></li>
        <li><a href="{% url "relate-renumber_events" course.identifier %}">{% trans "Renumber events" %}</a></li>
      {% endif %}

    </ul>
  </li>
  {% endif %}

  {% if pperm.query_participation or pperm.manage_instant_flow_requests or pperm.preapprove_participation %}
      {% if not pperm.view_participant_masked_profile %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Instructor" context "menu item" %}<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li role="presentation" class="dropdown-header">{% trans "Participation" %}</li>
              {% if pperm.preapprove_participation %}
                <li><a href="{% url "relate-create_preapprovals" course.identifier %}">{% trans "Preapprove enrollments" context "menu item" %}</a></li>
              {% endif %}
              {% if pperm.query_participation %}
                <li><a href="{% url "relate-query_participations" course.identifier %}">{% trans "Query participations" context "menu item" %}</a></li>
              {% endif %}

              {% if pperm.manage_instant_flow_requests %}
                <li role="presentation" class="divider"></li>
                <li role="presentation" class="dropdown-header">{% trans "Instant flow requests" %}</li>
                <li><a href="{% url "relate-manage_instant_flow_requests" course.identifier %}">{% trans "Manage instant flow requests" %}</a></li>
              {% endif %}

            </ul>
          </li>
      {% endif %}
  {% endif %}
{% endblock %}

{% block preview_status %}
  {% if participation.preview_git_commit_sha %}
    <li>
      <a style="font-weight: bold" href="{% url "relate-update_course" course.identifier %}"
        role="button">[{% trans "Preview" %}]</a>
    </li>
  {% endif %}
{% endblock %}

{% block nav_recommendations %}
  {% if instant_flow_requests %}
    <div class="alert alert-info">
      <i class='fa fa-info-circle'></i>
      {% if num_instant_flow_requests == 1 %}
        {% trans "There is an interactive activity going on right now." %}
        {% for i, req in instant_flow_requests %}
          <a class="btn btn-primary"
            href="{% url "relate-view_start_flow" course.identifier req.flow_id %}"
            role="button"><b>{% trans "Go to activity" %} &raquo;</b></a>
        {% endfor %}
      {% else %}
        {% trans "There are some interactive activities going on right now." %}
        {% for i, req in instant_flow_requests %}
          <a class="btn btn-primary"
            href="{% url "relate-view_start_flow" course.identifier req.flow_id %}"
            role="button"><b>{% trans "Go to activity" %} {{ i }} &raquo;</b></a>
        {% endfor %}
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
