{% extends "course/static-page.html" %}
{% load i18n %}

{% block page_content_advisories %}
  {% if course.hidden %}
    <div class="alert alert-info">
      <i class="fa fa-info-circle"></i>
      {% trans "This course is only visible to course staff at the moment." %}
      <a class="btn btn-outline-secondary" href="{% url "relate-edit_course" course.identifier %}"
        role="button">{% trans "Change" context "change the visibility of a course" %}&nbsp;&raquo;</a>
    </div>
  {% endif %}
  {% if not user.is_authenticated %}
    <div class="relate-well">
      {% trans "You're not currently signed in." %}
      <a class="btn-lg btn-primary" href="{% url student_sign_in_view %}?next={{ request.path }}"
        role="button">{% trans "Sign in" %}&nbsp;&raquo;</a>
    </div>
  {% else %}

    {% if show_enroll_button %}
      <div class="relate-well">
        <form method="POST" action="{% url "relate-enroll" course.identifier %}">
          {% csrf_token %}
          <button type="submit" name="enroll" class="btn-lg btn-primary">
            {% trans "Enroll" %}&nbsp;&raquo;
          </button>
        </form>
      </div>
    {% endif %}

  {% endif %}
{% endblock %}
