{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {{ course_desc.number}}:
  {{ course_desc.name}}
  -
  {% trans "RELATE" %}
{% endblock %}

{% block brand %}
  {{ course_desc.number}}
  {{ course_desc.run}}
{% endblock %}

{% block brand_link %}
  {% if not relate_exam_lockdown %}
    {% url "relate-course_page" course.identifier %}
  {% else %}
    #
  {% endif %}
{% endblock %}

{% block navbar %}
  {% with participation_role as pr %}
  {% block page_navbar %}
  {% endblock %}

  {% if not relate_exam_lockdown and role != pr.unenrolled %}
  <li class="dropdown">
    {% comment %} Translators: The following are names for menu items in course page {% endcomment %}
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Student" context "menu item" %}<b class="caret"></b></a>
    <ul class="dropdown-menu">
      {% if course.course_xmpp_id %}
      <li><a href="{% url "relate-send_instant_message" course.identifier %}">{% trans "Send instant message" %}</a></li>
      {% endif %}
      <li><a href="{% url "relate-view_participant_grades" course.identifier %}">{% trans "View grades" %}</a></li>
      <li><a href="{% url "relate-view_calendar" course.identifier %}">{% trans "View calendar" %}</a></li>
      <li><a href="{% url "relate-course_page" course.identifier %}">{% trans "Back to course page" %}</a></li>
    </ul>
  </li>
  {% endif %}

  {% if role == pr.instructor or role == pr.teaching_assistant or role == pr.observer %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Grading" context "menu item" %}<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="{% url "relate-flow_list" course.identifier %}">{% trans "Analytics Overview" %}</a></li>

      {% if role == pr.instructor or role == pr.teaching_assistant %}
        <li role="presentation" class="divider"></li>
        <li role="presentation" class="dropdown-header">{% trans "Grades" %}</li>
        <li><a href="{% url "relate-view_participant_list" course.identifier %}">{% trans "List of Participants" %}</a></li>
        <li><a href="{% url "relate-view_grading_opportunity_list" course.identifier %}">{% trans "List of Grading Opportunities" %}</a></li>
        <li><a href="{% url "relate-view_gradebook" course.identifier %}">{% trans "Grade book" %}</a></li>
        <li><a href="{% url "relate-export_gradebook_csv" course.identifier %}">{% trans "Grade book (CSV export)" %}</a></li>
      {% endif %}
      {% if role == pr.instructor %}
        <li><a href="{% url "relate-import_grades" course.identifier %}">{% trans "Import Grades" %}</a></li>
      {% endif %}
      <li><a href="{% url "relate-regrade_flows_view" course.identifier %}">{% trans "Regrade flows" %}</a></li>

      {% if role == pr.instructor or role == pr.teaching_assistant %}
        <li role="presentation" class="divider"></li>
        <li role="presentation" class="dropdown-header">{% trans "Exceptions" %}</li>
        <li><a href="{% url "relate-grant_exception" course.identifier %}">{% trans "Grant exception" %}</a></li>
        {% if user.is_staff %}
        <li><a href="{% url "admin:course_flowruleexception_changelist" %}" target="_blank">{% trans "Show exceptions" %}</a></li>
        {% endif %}
      {% endif %}

      {% if role == pr.instructor %}
        <li role="presentation" class="divider"></li>
        <li role="presentation" class="dropdown-header">{% trans "Exams" %}</li>
        {% if user.is_staff %}
          <li><a href="{% url "admin:course_exam_changelist" %}" target="_blank">{% trans "Edit exams" %}</a></li>
        {% endif %}
        <li><a href="{% url "relate-batch_issue_exam_tickets" course.identifier %}">{% trans "Batch-issue exam tickets" %}</a></li>
      {% endif %}

    </ul>
  </li>
  {% endif %}

  {% if role == pr.instructor or role == pr.teaching_assistant %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Content" context "menu item" %}<b class="caret"></b></a>
    <ul class="dropdown-menu">

      <li><a href="{% url "relate-update_course" course.identifier %}">{% trans "Update course" %}</a></li>
      <li role="presentation" class="divider"></li>

      <li role="presentation" class="dropdown-header">{% trans "Content creation" %}</li>
      <li><a href="{% url "relate-view_page_sandbox" course.identifier %}">{% trans "Page sandbox" %}</a></li>
      <li><a href="{% url "relate-view_markup_sandbox" course.identifier %}">{% trans "Markup sandbox" %}</a></li>

      <li role="presentation" class="divider"></li>
      <li><a href="{% url "relate-test_flow" course.identifier %}">{% trans "Test flow" %}</a></li>

      <li role="presentation" class="divider"></li>
      <li role="presentation" class="dropdown-header">{% trans "Calendar" %}</li>
      {% if user.is_staff %}
        <li><a href="{% url "admin:course_event_changelist" %}" target="_blank">{% trans "Edit events" %}</a></li>
      {% endif %}
      <li><a href="{% url "relate-create_recurring_events" course.identifier %}">{% trans "Create recurring events" %}</a></li>
      <li><a href="{% url "relate-renumber_events" course.identifier %}">{% trans "Renumber events" %}</a></li>

    </ul>
  </li>
  {% endif %}

  {% if role == pr.instructor %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Instructor" context "menu item" %}<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li role="presentation" class="dropdown-header">{% trans "Participation" %}</li>
      <li><a href="{% url "relate-create_preapprovals" course.identifier %}">{% trans "Preapprove enrollments" context "menu item" %}</a></li>

      <li role="presentation" class="divider"></li>
      <li role="presentation" class="dropdown-header">{% trans "Instant flow requests" %}</li>
      <li><a href="{% url "relate-manage_instant_flow_requests" course.identifier %}">{% trans "Manage instant flow requests" %}</a></li>
    </ul>
  </li>
  {% endif %}
  {% endwith %}
{% endblock %}

{% block version_advice %}
  {% if participation.preview_git_commit_sha %}
    <div class="alert alert-info">
      {% trans "You are currently seeing a preview of revision" %}
      '{{participation.preview_git_commit_sha}}'.
      <a class="btn btn-sm btn-primary" href="{% url "relate-update_course" course.identifier %}"
        role="button">{% trans "View revisions" %}</a>
    </div>
  {% endif %}
{% endblock %}

{% block nav_recommendations %}
  {% if instant_flow_requests %}
    <div class="alert alert-info">
      {% if num_instant_flow_requests == 1 %}
        {% trans "There is an interactive activity going on right now." %}
        {% for i, req in instant_flow_requests %}
          <a class="btn btn-primary"
            href="{% url "relate-view_start_flow" course.identifier req.flow_id %}"
            role="button"><b>{% trans "Go to activity" %} &raquo;</b></a>
        {% endfor %}
      {% else %}
        {% trans "There are some interactive activities going on right now." %}
        {% for i, req in instant_flow_requests %}
          <a class="btn btn-primary"
            href="{% url "relate-view_start_flow" course.identifier req.flow_id %}"
            role="button"><b>{% trans "Go to activity" %} {{ i }} &raquo;</b></a>
        {% endfor %}
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
