{% extends "course/course-base.html" %}
{% load i18n %}

{% block page_navbar %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Jump to" %}<b class="caret"></b></a>
    <ul class="dropdown-menu">
    {% for chunk in chunks %}
      <li><a href="#{{chunk.id}}">{{chunk.title}}</a></li>
    {% endfor %}
    </ul>
  </li>
{% endblock %}

{% block content %}
  {% if course.hidden %}
    <div class="alert alert-info">
      <i class="fa fa-info-circle"></i>
      {% trans "This course is only visible to course staff at the moment." %}
      <a class="btn btn-default" href="{% url "admin:course_course_change" course.id %}"
        role="button" target="_blank">{% trans "Change" context "change the visibility of a course" %}&nbsp;&raquo;</a>
    </div>
  {% endif %}
  {% if not user.is_authenticated %}
    <div class="well">
      {% trans "You're not currently signed in." %}
      <a class="btn-lg btn-primary" href="{% url student_sign_in_view %}"
        role="button">{% trans "Sign in" %}&nbsp;&raquo;</a>
    </div>
  {% else %}

    {% if show_enroll_button %}
      <div class="well">
        <form method="POST" action="{% url "relate-enroll" course.identifier %}">
          {% csrf_token %}
          <button type="submit" name="enroll" class="btn-lg btn-primary">
            {% trans "Enroll" %}&nbsp;&raquo;
          </button>
        </form>
      </div>
    {% endif %}

  {% endif %}

  {% for chunk in chunks %}
  <a id="{{chunk.id}}"></a>
    {{chunk.html_content|safe}}
  {% endfor %}
{% endblock %}
