{% extends "base.html" %}

{% block brand %}
  {{ course_desc.number}}:
  {{ course_desc.name}}
  {{ course_desc.run}}
{% endblock %}
{% block brand_link %}{% url "course.views.course_page" course.identifier %}{% endblock %}

{% block navbar %}
  {% block page_navbar %}
  {% endblock %}

  <li>
  {% if role == participation_role.instructor %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin activities<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="{% url "course.versioning.fetch_course_updates" course.identifier %}">Fetch updates</a></li>
      <li><a href="{% url "course.versioning.update_course" course.identifier %}">Update course</a></li>
    </ul>
  </li>
  {% endif %}

{% endblock %}

{% block version_advice %}
  {% if participation.preview_git_commit_sha %}
    <div class="alert alert-info">
      You are currently seeing a preview of revision
      '{{participation.preview_git_commit_sha}}'.
      <a class="btn btn-sm btn-primary" href="{% url "course.versioning.update_course" course.identifier %}"
        role="button">View revisions</a>
    </div>
  {% endif %}

  {% if participation.temporary_role %}
    <div class="alert alert-info">
      You are currently seeing a preview of what someone using the
      '{{participation.temporary_role}}' role would see.
    </div>
  {% endif %}
{% endblock %}
