{% extends "course/course-base.html" %}

{% block page_navbar %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Jump to<b class="caret"></b></a>
    <ul class="dropdown-menu">
    {% for chunk in course_desc.chunks %}
      <li><a href="#{{chunk.id}}">{{chunk.title}}</a></li>
    {% endfor %}
    </ul>
  </li>
{% endblock %}

{% block content %}
  {% if course.hidden %}
    <div class="alert alert-info">
      This course is only visible to course staff at the moment.
      <a class="btn btn-default" href="{% url "admin:course_course_change" course.id %}"
        role="button" target="_new">Change &raquo;</a>
    </div>
  {% endif %}
  {% if not course.valid %}
    <div class="alert alert-warning">
      There may be a problem with the validity of course data, which may lead
      to students encountering unexpected errors.
      <a class="btn btn-primary" href="{% url "course.versioning.update_course" course.identifier %}"
        role="button">Update &raquo;</a>
    </div>
  {% endif %}

  {% if not user.is_authenticated %}
    <div class="well">
      You're not currently signed in.
      <a class="btn btn-primary" href="{% url student_sign_in_view %}"
        role="button">Sign in &raquo;</a>
    </div>
  {% else %}

    {% if role == participation_role.unenrolled %}
      <div class="well">
        <form method="POST" action="{% url "course.enrollment.enroll" course.identifier %}">
          {% csrf_token %}
          <button type="submit" name="enroll" class="btn btn-primary">
            Enroll &raquo;
          </button>
        </form>
      </div>
    {% endif %}
  {% endif %}

  {% for chunk in chunks %}
  <a name="{{chunk.id}}"></a>
    {{chunk.html_content|safe}}
  {% endfor %}
{% endblock %}
