{% load crispy_forms_tags %}
{% crispy form %}

<script type="text/javascript">

$( document ).ready(function()
{
    $('[use-popover="true"]').each(function(){

        // enable popovers
        $(this).popover({
                trigger: "focus",
                placement: "top",
                html: true,
                title: $(this).attr("popover-title"),
                content: $(this).attr("popover-content")
            })

        // render TeX in popovers
        .on("shown.bs.popover", function () {
            $(".popover-content").each(function() {
                    MathJax.Hub.Queue(["Typeset", MathJax.Hub, this]);
                });
            });
        });

    // {{{ move form error messages into tooltips

    $('span[id^="error_1"]').each(function(){
        $(this).hide();

        var error_id = $(this).attr('id');
        var the_html = $(this).html();
        var the_id = error_id.substring(8);

        $("#" + the_id)
                .tooltip({
                    placement : 'bottom',
                    title : the_html, 
                    html: true
                })
                .tooltip("show");
        $('.tooltip-inner')
                .css("background-color", "#a94442");
        $('.tooltip-arrow')
                .css("border-bottom-color", "#a94442");
    });

    // }}}
});

</script>