{% if percentage != None %}
  <div class="panel panel-default">
    <div class="panel-heading">Overall grade</div>
    <div class="panel-body">
      <p><b>The overall grade is {{ percentage|floatformat }}%.</b></p>
    </div>
  </div>
{% endif %}
{% if code_feedback != None %}
  <div class="panel panel-default">
    <div class="panel-heading">Autograder feedback</div>
    <div class="panel-body">
      {% if code_feedback.percentage != None %}
        <p><b>The autograder assigned
          {{ code_feedback_points|floatformat }}/{{ code_points|floatformat }} points.</b>
        </p>
      {% endif %}
      {{ code_feedback.feedback|safe }}
    </div>
  </div>
{% endif %}

{% if human_feedback_points != None or human_feedback_text != None %}
  <div class="panel panel-default">
    <div class="panel-heading">Human feedback</div>
    <div class="panel-body">
    {% if human_feedback_points != None %}
      <p><b>The human grader assigned {{ human_feedback_points|floatformat }}/{{ human_points|floatformat }} points.</b></p>
    {% endif %}
    {% if human_feedback_text != None %}
      {{ human_feedback_text|safe }}
    {% endif %}
    </div>
  </div>
{% endif %}
