{% load i18n %}
{% if percentage != None %}
  <div class="panel panel-default">
    <div class="panel-heading">{% trans "Overall grade" %}</div>
    <div class="panel-body">
      <p><b>
        {% blocktrans trimmed with percentage=percentage|floatformat %}
          The overall grade is {{ percentage }}%.
        {% endblocktrans %}
      </b></p>
    </div>
  </div>
{% endif %}
{% if code_feedback != None %}
  <div class="panel panel-default">
    <div class="panel-heading">{% trans "Autograder feedback" %}</div>
    <div class="panel-body">
      {% if code_feedback.percentage != None %}
        <p><b>
          {% blocktrans trimmed with feedback_points=code_feedback_points|floatformat points=code_points|floatformat %}
            The autograder assigned {{ feedback_points }}/{{ points }} points.
          {% endblocktrans %}
           </b>
        </p>
      {% endif %}
      {{ code_feedback.feedback|safe }}
    </div>
  </div>
{% endif %}

{% if human_feedback_points != None or human_feedback_text != None %}
  <div class="panel panel-default">
    <div class="panel-heading">{% trans "Human feedback" %}</div>
    <div class="panel-body">
    {% if human_feedback_points != None %}
      <p><b>
        {% blocktrans trimmed with feedback_points=human_feedback_points|floatformat human_points=human_points|floatformat %}
          The human grader assigned {{ feedback_points }}/{{ human_points }} points.
        {% endblocktrans %}
      </b></p>
    {% endif %}
    {% if human_feedback_text != None %}
      {{ human_feedback_text|safe }}
    {% endif %}
    </div>
  </div>
{% endif %}
