{% extends "course/course-base.html" %}

{% load crispy_forms_tags %}

{% block title %}
  [{{ page_data.next_ordinal }}/{{ flow_session.page_count }}]
  {{title}} - {{ flow_desc.title}} - CourseFlow
{% endblock %}

{% block content %}
  {% if max_points %}
    <div style="float:right" class="well">
      {{ max_points }} point{{ max_points|pluralize }}
    </div>
  {% endif %}

  {{ body|safe }}

  {% if form_html %}
    <div class="well">
      {{ form_html|safe }}

      {% if may_change_answer and will_receive_feedback %}
        <div class="text-muted col-lg-offset-2 ">
          (You may still change your answer after you receive feedback.)
        </div>
      {% endif %}
    </div>
  {% endif %}

  {% if show_correctness and feedback %}
    <div class="alert
      {% if feedback.correctness == 1 %}
        alert-success
      {% elif feedback.correctness == 0 %}
        alert-danger
      {% else%}
        alert-info
      {% endif %}
      ">
        <p>{{ feedback.feedback|safe }}</p>
      {% if show_answer and feedback.correctness < 1 and feedback.correct_answer %}
        <p>{{feedback.correct_answer|safe}}</p>
      {% endif %}
    </div>
  {% elif show_answer and feedback.correct_answer%}
    {# show only correct answer, without indication of correctness #}
    <div class="well">
      <p>{{feedback.correct_answer|safe}}</p>
    </div>
  {% endif %}

  <form
    action="{% url "course.flow.view_flow_page" course.identifier flow_identifier page_data.ordinal %}"
    class="navigation-form"
    method="POST">

    {% csrf_token %}

    <div class="well flow-well">
      {% if page_data.ordinal > 0 %}
        <a class="btn btn-default cf-nav-button"
          href="{% url "course.flow.view_flow_page" course.identifier flow_identifier page_data.previous_ordinal %}"
          role="button">&laquo; Previous</a>
      {% endif %}
      {% if page_data.next_ordinal < flow_session.page_count %}
        <a class="btn btn-default cf-nav-button"
          href="{% url "course.flow.view_flow_page" course.identifier flow_identifier page_data.next_ordinal %}"
          role="button">Next &raquo;</a>
      {% endif %}
      <div style="float:right">
        <button type="submit" name="finish" class="btn btn-default cf-nav-button">End session</button>
      </div>
      <div class="progress flow-progress">
        <div class="progress-bar progress-bar-success" role="progressbar"
          aria-valuenow="{{ page_data.next_ordinal }}"
          aria-valuemin="0" aria-valuemax="{{ flow_session.page_count }}"
          style="width:{{ percentage }}%">
          {{ page_data.next_ordinal }} / {{ flow_session.page_count }}
        </div>
      </div>
      <div style="clear:both; height:0px"></div>
    </div>
  </form>

  {# {{{ change listening, navigation confirmation #}

  <script type="text/javascript">

    function activate_change_listening()
    {
      var input_changed = false;

      // {{{ listen for codemirror changes

      function on_cm_change(cm, change_obj)
      {
        input_changed = true;
      }

      $("div.CodeMirror").each(
          function ()
          {
            var cm = this.CodeMirror;
            cm.on("change", on_cm_change);
          });

      // }}}

      // {{{ listen for other input changes

      function on_input_change(evt)
      {
        input_changed = true;
      }

      $(":checkbox").on("change", on_input_change);
      $(":radio").on("change", on_input_change);
      $(":text").on("change", on_input_change);
      $("textarea").on("change", on_input_change);

      // }}}

      $(window).on('beforeunload',
          function()
          {
            if (input_changed)
              return "You have unsaved changes on this page.";
          });

      function before_save(evt)
      {
        input_changed = false;
      }

      $(".cf-save-button").on("click", before_save);
    }

    activate_change_listening();
  </script>

  {# }}} #}

{% endblock %}

{# vim: foldmethod=marker #}
