{% extends "course/course-base-with-markup.html" %}
{% load i18n %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}
  [{{ page_data.next_ordinal }}/{{ flow_session.page_count }}]
  {{title|safe}} - {{ flow_desc.title}} - {{ relate_site_name }}
{% endblock %}

{% block content %}
  {% if user != flow_session.participation.user %}
    <div id="other-user-alert" class="alert alert-info">
      <div style="float:right">
        <a onclick='$("#other-user-alert").hide()'>
          <i class="bi bi-x-circle" aria-hidden="true"></i><Paste>
        </a>
      </div>

      <i class="bi bi-person" aria-hidden="true"></i>
      {% trans "Viewing session for participant" %}
      {% if flow_session.participation != None %}
        <a href="{% url "relate-view_participant_grades" course.identifier flow_session.participation.id %}">{% if not pperm.view_participant_masked_profile %}{{ flow_session.participation.user.username }}{% else %}{{ flow_session.participation.user.get_masked_profile }}{% endif %}</a>.
      {% else %}
        {% trans "(unspecified participant)" %}.
      {% endif %}
    </div>
  {% endif %}

  {# {{{ navigation #}
  <form
    action="{% url "relate-view_flow_page" course.identifier flow_session.id page_data.page_ordinal %}"
    class="navigation-form"
    method="POST">

    {% csrf_token %}


    <div class="relate-well">
      <div>

        {# {{{ prev/next buttons #}

        <div class="flow-nav d-flex gap-2 float-start mb-2">
          {% if page_data.page_ordinal > 0 %}
            <a class="btn btn-secondary relate-nav-button"
               href="{% url "relate-view_flow_page" course.identifier flow_session.id page_data.previous_ordinal %}"
               title='{% trans "Previous page" context "Previous page/item in a flow" %}'
               role="button"><i class="bi bi-chevron-left"></i></a>
          {% else %}
            <a class="btn btn-secondary relate-nav-button disabled"
               href="#"
               title='{% trans "Previous page" context "Previous page/item in a flow" %}'
               role="button"><i class="bi bi-chevron-left"></i></a>
          {% endif %}
          {% if page_data.next_ordinal < flow_session.page_count %}
            <a class="btn btn-secondary relate-nav-button"
               href="{% url "relate-view_flow_page" course.identifier flow_session.id page_data.next_ordinal %}"
               title='{% trans "Next page" context "Next page/item in a flow" %}'
               role="button"><i class="bi bi-chevron-right"></i></a>
          {% else %}
            <a class="btn btn-secondary relate-nav-button disabled"
               href="#"
               title='{% trans "Next page" context "Next page/item in a flow" %}'
               role="button"><i class="bi bi-chevron-right"></i></a>
          {% endif %}
          <button id="btn_bookmark"
                  class="btn relate-flow-page-bookmark-button
                         {% if page_data.bookmarked %}
                           relate-bookmarked
                         {% endif %}
                         "
                  title="{% trans "Boomark this page" %}">
            <i id="label_bookmark_indicator" class="fa
                   {% if page_data.bookmarked %}
                     bi-star-fill
                   {% else %}
                     bi-star
                   {% endif %}
                   " aria-hidden="true"></i>
          </button>
        </div>

        {# }}} #}

        <div class="relate-flow-controls float-end d-flex gap-2 mb-2">

          {# {{{ expiration mode #}

          {% if flow_session.in_progress and expiration_mode_choice_count > 1 and not viewing_prior_version %}
            <div class="flow-session-expiration-panel d-flex text-nowrap align-items-baseline gap-1">
              <span id="expiration_mode_change_progress">
              </span>
              <label class="form-label" for="id_expiration_mode">
                {# Translators: the string is followed by "what will happen" at deadline. #}
                {% trans "At deadline:" %}
              </label>
              <select class="form-select" id="id_expiration_mode"
                name="expiration_mode">
                {% for key, val in expiration_mode_choices %}
                  <option value="{{ key }}"
                  {% if key == expiration_mode %}
                    selected
                  {% endif %}
                  >{{ val }}</option>
                {% endfor %}
              </select>
            </div>
          {% endif %}

          {# }}} #}
          {# {{{ send email button #}

          {% if may_send_email_about_flow_page %}
            <div class="relate-flow-page-send-email">
              <a href="{% url 'relate-flow_page_interaction_email' course.identifier flow_session.id page_ordinal %}"
                class="btn btn-secondary relate-nav-button btn-info"
                title="{% trans 'Send an email about this page to course staff' %}"
                target="_blank"
                >
                <i class="bi bi-envelope" aria-hidden="true"></i>
              </a>
            </div>
          {% endif %}
          {# }}} #}

          {# {{{ past submissions #}

          {% if expects_answer %}
            <div class="relate-flow-page-past-submissions">
              <div class="dropdown" id="past-submission_dropdown">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="past-submission_dropdown_button" data-bs-toggle="dropdown"
                  title='{% trans "Submission history for this page" %}'>
                  <i class="bi bi-clock-history"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="past-submission_dropdown_button" id="past-submission_dropdown_content">
                  <li style="list-style:none; position:relative; left:50%;">
                    <i class="bi bi-hourglass"></i>
                  </li>
                </ul>
              </div>
            </div>
          {% endif %}

          {# }}} #}

          {# {{{ menu #}

          <div class="relate-flow-page-menu">
            <div class="dropdown">
              <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="FlowPageMenuDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                title='{% trans "Page Menu" %}'>
                <i class="bi bi-list"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="FlowPageMenuDropdown">
                <li><h6 class="dropdown-header">{{ flow_desc.title }}</h6></li>
                <li>
                  <a class="dropdown-item" href='{% url "relate-view_start_flow" course.identifier flow_session.flow_id %}'
                    >{% trans "Return to flow start page" %}</a>
                </li>
                {% if page_expect_answer_and_gradable %}
                  <li role="separator" class="divider"></li>
                  {% if pperm.reopen_flow_session and not flow_session.in_progress and opportunity.id != None %}
                    <li>
                      <a href="{% url 'relate-view_reopen_session' course.identifier flow_session.id opportunity.id %}"
                        target="_blank">
                        {% trans "Reopen" %} <i class="bi bi-unlock" aria-hidden="true"></i>
                      </a>
                    </li>
                  {% endif %}
                  {% if page_expect_answer_and_gradable and pperm.grant_exception and flow_session.participation.id != None %}
                    <li>
                      <a class="dropdown-item" href="{% url 'relate-grant_exception_stage_3' course.identifier flow_session.participation.id flow_session.flow_id flow_session.id %}"
                        target="_blank">
                        {% trans "Grant exception" %} <i class="bi bi-unlock" aria-hidden="true"></i>
                      </a>
                    </li>
                  {% endif %}
                  {% if pperm.view_gradebook %}
                    <li>
                      <a class="dropdown-item" href="{% url 'relate-grade_flow_page' course.identifier flow_session.id page_ordinal %}"
                        target="_blank">
                        {% trans "View in grading interface" %} <i class="bi bi-unlock" aria-hidden="true"></i>
                      </a>
                    </li>
                  {% endif %}
                {% endif %}
                {% if pperm.reopen_flow_session and flow_session.in_progress and expects_answer and not may_change_answer %}
                  <li role="separator" class="divider"></li>
                  <li>
                    <a class="dropdown-item" href="{% url 'relate-unsubmit_flow_page' course.identifier flow_session.id page_ordinal %}">
                      {% trans "Re-allow changes to page" %} <i class="bi bi-unlock" aria-hidden="true"></i>
                    </a>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>

          {# }}} #}

          {# {{{ 'finish' button #}

          <div class="relate-flow-submit">
            {% if not viewing_prior_version %}
              <button type="submit" name="finish" class="btn btn-secondary relate-nav-button
                {% if flow_session.in_progress %}
                  {% if not interaction_kind == flow_session_interaction_kind.noninteractive %}
                    btn-success
                  {% endif %}
                {% endif %}"
                title='
                {% if interaction_kind == flow_session_interaction_kind.noninteractive %}
                  {% trans "Go to end" %}
                {% elif flow_session.in_progress %}
                  {% if interaction_kind == flow_session_interaction_kind.ungraded %}
                    {% trans "Submit" %}
                  {% elif interaction_kind == flow_session_interaction_kind.permanent_grade %}
                    {% blocktrans with flow_title=flow_desc.title %}Submit {{ flow_title }}{% endblocktrans %}
                  {% else %}
                    {% trans "Finish" %}
                  {% endif %}
                {% elif not flow_session.in_progress %}
                  {% if interaction_kind == flow_session_interaction_kind.ungraded or interaction_kind == flow_session_interaction_kind.permanent_grade %}
                    {% trans "Result" %}
                  {% else %}
                    {% trans "Finish" %}
                  {% endif %}
                {% endif %}
                '>
                {% if interaction_kind == flow_session_interaction_kind.permanent_grade or interaction_kind == flow_session_interaction_kind.ungraded %}
                  {% if flow_session.in_progress %}
                    <i class="bi bi-check" aria-hidden="true"></i>
                  {% else %}
                    <i class="bi bi-bar-chart" aria-hidden="true"></i>
                  {% endif %}
                {% else %}
                  <i class="bi bi-box-arrow-right" aria-hidden="true"></i>
                {% endif %}
              </button>
            {% endif %}
          </div>

          {# }}} #}

        </div> {# .relate-flow-controls #}

        {# {{{ toc #}

        <div class="relate-flow-page-toc d-flex gap-2 justify-content-center flex-wrap order-3 order-md-1 mx-auto">
          {% for other_page_data in all_page_data %}
            {% if other_page_data.page_ordinal == page_data.page_ordinal %}
              <span class="relate-flow-page-toc-item btn btn-secondary btn-sm disabled
                           relate-current
                           {% if other_page_data.bookmarked %}
                             relate-bookmarked
                           {% endif %}
                           ">{{ other_page_data.human_readable_ordinal }}</span>
            {% else %}
              <a href="{% url "relate-view_flow_page" course.identifier flow_session.id other_page_data.page_ordinal %}"
                 title="{{ other_page_data.title|safe }}">
                <span class="relate-flow-page-toc-item btn btn-outline-secondary btn-sm
                             {% if page_nr < page_data.page_ordinal %}
                               relate-prior
                             {% else %}
                               relate-subsequent
                             {% endif %}
                             {% if other_page_data.bookmarked %}
                               relate-bookmarked
                             {% endif %}
                             {% if other_page_data.page_ordinal in flow_page_ordinals_with_answers %}
                               relate-answered
                             {% endif %}
                             ">{{ other_page_data.human_readable_ordinal }}
                </span></a>
              {% endif %}
            {% endfor %}

            {% if flow_session.page_count >= 4 %}
              <span class="dropdown">
                <span class="btn btn-outline-secondary btn-sm dropdown-toggle relate-flow-page-toc-item " id="toc-dropdown" data-bs-toggle="dropdown">
                </span>
                <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="toc-dropdown">
                  {% for other_page_data in all_page_data %}
                    <li>
                      <a class="dropdown-item" href="{% url "relate-view_flow_page" course.identifier flow_session.id other_page_data.page_ordinal %}">
                        {{ other_page_data.human_readable_ordinal }}: {{ other_page_data.title|safe }}
                        {% if other_page_data.bookmarked %}
                          <i class="bi bi-star-fill" aria-hidden="true"></i>
                        {% endif %}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </span>
            {% endif %}
        </div>

        {# }}} #}

      </div>

      {# {{{ session time #}

      {% if session_minutes != None %}
        <div class="relate-session-duration">
          {% trans "Session duration:" %}
          {{ session_minutes|floatformat:1 }}
          {% trans "minutes" %}

          {% if time_factor != 1 %}
            ({% trans "Time factor:" %} {{ time_factor|floatformat:2 }}x)
          {% endif %}
        </div>
      {% endif %}

      {# }}} #}
    </div>
  </form>

  {# }}} #}

  {# {{{ points #}

  {% if not hide_point_count %}
    {% if max_points %}
      <div style="float:right" class="relate-well">
      {% blocktrans trimmed count counter=max_points %}
        {{ max_points }} point
      {% plural %}
        {{ max_points }} points
      {% endblocktrans %}
      </div>
    {% elif is_optional_page %}
      <div style="float:right" class="relate-well">
      {% trans "Optional question" %}
      </div>
    {% endif %}
  {% endif %}

  {# }}} #}

  {{ body|safe }}

  {# {{{ form #}

  {% if form_html %}
    <div class="relate-well relate-interaction-container">
      {{ form_html|safe }}

      {% if may_change_graded_answer and will_receive_feedback %}
        {% if form.no_offset_labels %}
          <div class="text-muted">
        {% else %}
          <div class="text-muted col-lg-offset-2 ">
        {% endif %}
          {% trans "(You may still change your answer after you submit it.)" %}
        </div>
      {% endif %}
    </div>
  {% endif %}

  {# }}} #}

  {# {{{ feedback #}

  {% if show_correctness and feedback %}
    <div class="alert
      {% if feedback.correctness >= 1 %}
        alert-success
      {% elif feedback.correctness == 0 %}
        alert-danger
      {% else%}
        alert-info
      {% endif %}
      ">
        <p>{% trans feedback.feedback|safe %}</p>
        {% if feedback.bulk_feedback %}
          <p>{% trans feedback.bulk_feedback|safe %}</p>
        {% endif %}
      {% if show_answer and correct_answer %}
        <p>{{ correct_answer|safe }}</p>
      {% endif %}
    </div>
  {% elif show_answer and correct_answer %}
    {# show only correct answer, without indication of correctness #}
    <div class="relate-well">
      <p>{{ correct_answer|safe }}</p>
    </div>
  {% endif %}

  {# }}} #}

  {# {{{ change listening, navigation confirmation #}

  <script type="text/javascript">

    function activate_change_listening()
    {
      var input_changed = false;

      // {{{ listen for codemirror changes

      function on_cm_change(cm, change_obj)
      {
        input_changed = true;
      }

      $("div.CodeMirror").each(
          function ()
          {
            var cm = this.CodeMirror;
            cm.on("change", on_cm_change);
          });

      // }}}

      // {{{ listen for other input changes

      function on_input_change(evt)
      {
        input_changed = true;
      }

      $(":checkbox").on("change", on_input_change);
      $(":radio").on("change", on_input_change);
      $(":text").on("change", on_input_change);
      $(":file").on("change", on_input_change);
      $("textarea").on("change", on_input_change);

      // }}}

      $(window).on('beforeunload',
          function()
          {
            if (input_changed)
              return "{% trans 'You have unsaved changes on this page.' %}";
          });

      function before_submit(evt)
      {
        input_changed = false;

        // We can't simply set "disabled" on the submitting button here.
        // Otherwise the browser will simply remove that button from the POST
        // data.

        $(".relate-save-button").each(
            function()
            {
              var clone = $(this).clone();
              $(clone).attr("disabled", "1");
              $(this).after(clone);
              $(this).hide();
            });
      }

      $(".relate-interaction-container form").on("submit", before_submit);
    }

    $(document).ready(activate_change_listening);
  </script>

  {# }}} #}

  {# {{{ expiration mode handling #}

  <script type="text/javascript">

    // using jQuery
    function expiration_mode_changed()
    {
      $("#expiration_mode_change_progress")
        .html(
          '<img src="{% static "images/busy.gif" %}" alt="Busy indicator">')
        .show();

      var jqxhr = $.ajax(
          "{% url "relate-update_expiration_mode" course.identifier flow_session.id %}",
          {
            type: "POST",
            data: {
              expiration_mode: $("#id_expiration_mode").val()
            },
            beforeSend: function(xhr, settings) {
              var csrftoken = rlUtils.getCookie('relate_csrftoken');
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
          })
        .done(function() {
          $("#expiration_mode_change_progress")
            .html('{% trans "Saved." %}');
          window.setTimeout(
              function() { $("#expiration_mode_change_progress").fadeOut() },
              3000);
        })
        .fail(function() {
          $("#expiration_mode_change_progress")
            .html('{% trans "Error--not saved." %}');
          window.setTimeout(
              function() { $("#expiration_mode_change_progress").fadeOut() },
              3000);
        });
    }

    $("#id_expiration_mode").on("change", expiration_mode_changed);
  </script>

  {# }}} #}

  {# {{{ bookmark button #}

  <script type="text/javascript">
    function activate_bookmark_button()
    {
      var btn_bookmark = $("#btn_bookmark");
      btn_bookmark.click(
          function(evt)
          {
            evt.preventDefault();

            var ind = $("#label_bookmark_indicator");
            var prev_bookmarked = ind.hasClass("bi-star-fill");
            var new_bookmarked = !prev_bookmarked;

            if (new_bookmarked)
            {
              ind.removeClass("bi-star");
              ind.addClass("bi-star-fill");
              btn_bookmark.addClass("relate-bookmarked");
            }
            else
            {
              ind.removeClass("bi-star-fill");
              ind.addClass("bi-star");
              btn_bookmark.removeClass("relate-bookmarked");
            }

            var jqxhr = $.ajax(
                "{% url "relate-update_page_bookmark_state" course.identifier flow_session.id page_data.page_ordinal %}",
                {
                  type: "POST",
                  data: {
                    bookmark_state: new_bookmarked ? "1": "0"
                  },
                  beforeSend: function(xhr, settings) {
                    var csrftoken = rlUtils.getCookie('relate_csrftoken');
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                  }
                })
              .fail(function() {
                alert("Error while bookmarking page.")
              });
          });
    }
    $(document).ready(activate_bookmark_button);
  </script>

  {# }}} #}

  {# {{{ codemirror resizing, save #}

  <script type="text/javascript">
    $("div.CodeMirror")
    .each(
        function ()
        {
          function submit_page_for_feedback()
          {
            $(".relate-submit-button").click();
          }

          var cm = this.CodeMirror;
          cm.save = submit_page_for_feedback;
        });
  </script>

  {# }}} #}

{% endblock %}

{% block page_bottom_javascript_extra %}

  {% if expects_answer %}
    <script>
      function generate_past_submission_dropdown_content(){
        var jqxhr = $.ajax({
          url: "{% url "relate-get_prev_answer_visits_dropdown_content" course.identifier flow_session.id page_ordinal %}"
        }).done(function (result) {
          if(result.result)
            document.getElementById("past-submission_dropdown_content").innerHTML = tmpl("tmpl-prev-answer-visits", result.result);
        });
      }

      $('#past-submission_dropdown').on('shown.bs.dropdown', generate_past_submission_dropdown_content);


    </script>

    {# https://github.com/blueimp/JavaScript-Templates #}
    <script type="text/x-tmpl" id="tmpl-prev-answer-visits">
      {{ JQ_OPEN }} if (o.length==0) { {{ JQ_CLOSE }}
        <li><h6 class="dropdown-header">{% trans 'No submission history' %}</h6> </li>
      {{ JQ_OPEN }} } else { {{ JQ_CLOSE }}
        {{ JQ_OPEN }} for (var i=0; i<o.length; i++) { {{ JQ_CLOSE }}
          <li>
            {{ JQ_OPEN }} if (i==0) { {{ JQ_CLOSE }}
              <a class="dropdown-item" href="?">
            {{ JQ_OPEN }} } else { {{ JQ_CLOSE }}
              <a class="dropdown-item" href="?visit_id={{ JQ_OPEN }}=o[i].id{{ JQ_CLOSE }}">
            {{ JQ_OPEN }} } {{ JQ_CLOSE }}
              {{ JQ_OPEN }} if (o[i].id=={{ prev_visit_id }}) { {{ JQ_CLOSE }}<b>{{ JQ_OPEN }} } {{ JQ_CLOSE }}
                {{ JQ_OPEN }}=o[i].visit_time{{ JQ_CLOSE }}
              {{ JQ_OPEN }} if (o[i].id=={{ prev_visit_id }}) { {{ JQ_CLOSE }}</b>{{ JQ_OPEN }} } {{ JQ_CLOSE }}
              {{ JQ_OPEN }} if (i==0) { {{ JQ_CLOSE }}
              {% trans "(current)" %}
              {{ JQ_OPEN }} } {{ JQ_CLOSE }}
              {{ JQ_OPEN }} if (o[i].is_submitted_answer) { {{ JQ_CLOSE }}
                {% trans "(submitted)" %}
              {{ JQ_OPEN }} } {{ JQ_CLOSE }}
            </a>
          </li>
        {{ JQ_OPEN }} } {{ JQ_CLOSE }}
      {{ JQ_OPEN }} } {{ JQ_CLOSE }}
    </script>
  {% endif %}
  {{ block.super }}
{% endblock %}
{# vim: set foldmethod=marker: #}
