{% extends "course/course-base.html" %}

{% block title %}
  {{flow_desc.title}} - CourseFlow
{% endblock %}

{% block content %}
  {{ completion_text|safe }}

  <div class="well flow-well">
    {% if last_page_nr %}
      <a class="btn btn-default"
        href="{% url "course.flow.view_flow_page" course.identifier flow_identifier last_page_nr %}"
        role="button">&laquo; Go back</a>
    {% endif %}
    <a class="btn btn-default"
      href="{% url "course.flow.start_flow" course.identifier flow_identifier %}"
      role="button">Start over</a>
    <a class="btn btn-default"
      href="{% url "course.views.course_page" course.identifier %}"
      role="button">To course page &raquo;</a>
  </div>

{% endblock %}
