{% extends "course/course-base.html" %}

{% block title %}
  {{flow_desc.title}} - CourseFlow
{% endblock %}

{% block content %}
  <h1>End Session '{{flow_desc.title}}'?</h1>

  {% if unanswered_count %}
    <div class="alert alert-warning">
      You have left questions unanswered.
    </div>
  {% endif %}

  {% if total_count %}
    <p>
    There were {{total_count}} questions.
    {% if answered_count == total_count %}
      You have provided an answer for all of them.
    {% else %}
      You have answered {{answered_count}} and left {{unanswered_count}} unanswered.
    {% endif %}
    </p>
  {% endif %}

  If you choose to end your session, the following things will happen:
  <ul>
    <li>You will be prevented from making further changes to your answers.</li>
    <li>All your currently saved answers, if not graded already, will be graded.</li>
    <li>If possible, a final grade will be computed from all saved, graded answers.</li>
  </ul>

  <div class="well flow-well">
    <form method="POST">
      {% csrf_token %}

      <a class="btn btn-default"
        href="{% url "course.flow.view_flow_page" course.identifier flow_identifier last_page_nr %}"
        role="button">&laquo; Go back</a>

      <button type="submit" name="submit" class="btn btn-primary">Confirm: Submit answers and end session</button>
    </form>
  </div>

{% endblock %}
