{% extends "course/course-base.html" %}
{% load i18n %}


{% block title %}
  {{flow_desc.title}} - {% trans "RELATE" %}
{% endblock %}

{% block content %}
  {% if flow_desc.description %}
  {{flow_desc.description_html|safe}}
  {% endif %}

  <form method="POST">
    {% csrf_token %}

    {% if past_sessions_and_properties %}
      <div class="well">
        <h3 class="start-well-title">{% trans "Past sessions" %}</h3>

        <table class="past-flow-session-table">
          <tr>
            <th>{% trans "Start time" %}</th>
            <th>{% trans "State" %}</th>
            <th>{% trans "Grading rules" %}</th>
            <th>{% trans "Due" %}</th>
            <th>{% trans "Result" %}</th>
            <th>{% trans "Actions" %}</th>
          </tr>
          {% for flow_session, session_properties in past_sessions_and_properties %}
            <tr>
              <td>{{ flow_session.start_time }}</td>
              <td>
                {% include "course/flow-session-state.html" %}
                {% if not flow_session.in_progress %}
                  ({{ flow_session.completion_time }})
                {% endif %}
              </td>
              <td>
                {% if session_properties.grade_description %}
                  {{ session_properties.grade_description }}
                {% else %}
                  {% trans "(no description)" %}
                {% endif %}
              </td>
              <td>
                {% if session_properties.due %}
                  {{ session_properties.due }}
                {% endif %}
              </td>
              <td>
                {% if flow_session.points_percentage %}
                  {% blocktrans trimmed with points=flow_session.points|floatformat max_points=flow_session.max_points|floatformat  percentage=flow_session.points_percentage|floatformat %}
                  <b>{{ points}}</b>
                  out of
                  {{ max_points }}
                  (<b>{{ percentage }}%</b>)
                  {% endblocktrans %}
                {% else %}
                  {% trans "(none)" %}
                {% endif %}

              </td>
              <td>
                {% if session_properties.may_view %}
                  <a href="{% url "relate-view_flow_page" course.identifier flow_session.id 0 %}" class="btn btn-primary btn-xs">
                    {% if session_properties.may_modify %}
                      {% trans "Resume" %} &raquo;
                    {% else %}
                      {% trans "Review" %} &raquo;
                    {% endif %}
                  </a>
                {% endif %}

                {% if not flow_session.in_progress %}
                  <a href="{% url "relate-finish_flow_session_view" course.identifier flow_session.id %}" class="btn btn-primary btn-xs">
                      {% trans "Results" %}
                  </a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    {% endif %}

    {% if may_start %}
      {% if new_session_grading_rule.grade_identifier %}
        <div class="alert alert-info">
          {% trans "If you start a new session, the following rules will apply:" %}
          <ul>
            {% if new_session_grading_rule.description %}
              <li>
                  {% blocktrans trimmed with description=new_session_grading_rule.description %}
                    Your session will be a '<b>{{ new_session_grading_rule_description }}</b>'.
                  {% endblocktrans %}
              </li>
            {% endif %}
            {% if new_session_grading_rule.due %}
              <li>
                  {% blocktrans trimmed with due=new_session_grading_rule.due %}
                    Your session will be due on <b>{{ due }}</b>.
                  {% endblocktrans %}
              </li>
            {% endif %}
            <li>
                {% blocktrans trimmed with credit_percent=new_session_grading_rule.credit_percent|floatformat%}
                    You will receive <b>{{ credit_percent }}% credit</b>
                    for your work.
                {% endblocktrans %}
            </li>
            {% if past_sessions_and_properties %}
              <li>
                  {% blocktrans trimmed %}
                    This is not your first session. If you start another one,
                    for your overall grade we will '<b>{{ grade_aggregation_strategy_descr }}</b>'
                    among all your sessions.
                  {% endblocktrans %}
              </li>
            {% endif%}
          </ul>
        </div>
      {% endif %}

      {# {{{ start button #}

      {% if start_may_decrease_grade %}
        <a id="pre-start-button" class="btn btn-primary">
          {% trans "Start" %} &raquo;
        </a>
        <button id="start-button" type="submit" name="start" class="btn btn-danger"
          style="display:none"
          data-content='{% trans "I understand that starting a new session could lower my overall grade." %}'
          data-container="body"
          data-placement="right"
          >
            {# Translators: student should confirm to start another session. #}
            {% trans "I am sure" %} &raquo;
        </button>

        <script type="text/javascript">
          $("#pre-start-button").on('click',
              function()
              {
                $("#pre-start-button").fadeOut("normal",
                    function()
                    {
                        $("#start-button").fadeIn("normal",
                            function()
                            {
                                $("#start-button").popover("show");
                            }
                        );
                    }
                    );
              });
        </script>

      {% else %}
        <button type="submit" name="start" class="btn btn-primary">
          {% trans "Start" %} &raquo;
        </button>
      {% endif %}

      {# }}} #}

    {% endif %}

    {% if may_start or past_sessions_and_properties %}
    {% else %}
      <div class="alert alert-info">
        <p>
        <i class="fa fa-exclamation-triangle"></i>
        {% blocktrans trimmed %}
        You do not have any existing sessions and are not allowed to start
        a new one.
        {% endblocktrans %
        </p>

        <p>
        {% trans "Check the following:" %}
        <ul>
        {% if not user.is_authenticated %}
        <li>
        <a href="{% url student_sign_in_view %}">{% trans "Sign in" %}</a>.
        {% url "relate-home" as relate-home %}
        {% blocktrans trimmed %}
          You're not currently signed in. Access to the resource is restricted,
          and since the site has no way of knowing who you are, it may have denied
          you accesss.
          Once you're signed in, navigate back to your course from the
          <a href="{{ relate-home }}"> home page </a> and retry your last
          action.
         {% endblocktrans %}
        </li>
        {% endif %}
        <li>
          {% trans "Has the deadline for this assignment passed?" %}
        </li>
        <li>
        {% blocktrans trimmed %}
        Complete your enrollment in your course. If you're not enrolled, a large
        "Enroll now" button will show up at the top of your course page. Click that,
        follow the indicated steps, and then retry your last action.
        {% endblocktrans %}
        </li>
        <li>
        {% url "relate-home" as relate-home %}
        {% blocktrans trimmed %}
        If none of the above steps help, please navigate back to your course from the
        <a href="{{ relate-home }}"> home page </a> and contact your course staff.
        {% endblocktrans %}
        </li>
        </ul>
      </div>
      </p>
    {% endif %}
  </form>

{% endblock %}

{# vim: set foldmethod=marker: #}
