{% extends "course/course-base.html" %}

{% load crispy_forms_tags %}

{% block title %}
  [{{ page_data.next_ordinal }}/{{ flow_session.page_count }}]
  {{title}} - {{ flow_desc.title}} - CourseFlow
{% endblock %}

{% block content %}
  {% if max_points %}
    <div style="float:right" class="well">
      {{ max_points }} point{{ max_points|pluralize }}
    </div>
  {% endif %}

  {{ body|safe }}

  {% if form_html %}
    {{ form_html|safe }}
  {% endif %}
  {% if show_correctness %}
    <div class="alert
      {% if feedback.correctness == 1 %}
        alert-success
      {% elif feedback.correctness == 0 %}
        alert-danger
      {% else%}
        alert-info
      {% endif %}
      ">
        <p>{{feedback.feedback}}</p>
      {% if show_answer and feedback.correctness < 1 %}
        <p>{{feedback.correct_answer}}</p>
      {% endif %}
    </div>
  {% elif show_answer %}
    {# show only correct answer, without indication of correctness #}
    <div class="well">
      <p>{{feedback.correct_answer}}</p>
    </div>
  {% endif %}

  <form
    action="{% url "course.flow.view_flow_page" course.identifier flow_identifier page_data.ordinal %}"
    method="POST">

    {% csrf_token %}

    <div class="well flow-well">
      {% if page_data.ordinal > 0 %}
        <a class="btn btn-default"
          href="{% url "course.flow.view_flow_page" course.identifier flow_identifier page_data.previous_ordinal %}"
          role="button">&laquo; Previous</a>
      {% endif %}
      {% if page_data.next_ordinal < flow_session.page_count %}
        <a class="btn btn-default"
          href="{% url "course.flow.view_flow_page" course.identifier flow_identifier page_data.next_ordinal %}"
          role="button">Next &raquo;</a>
      {% endif %}
      <div style="float:right">
        <button type="submit" name="finish" class="btn btn-default">End session</button>
      </div>
      <div class="progress flow-progress">
        <div class="progress-bar progress-bar-success" role="progressbar"
          aria-valuenow="{{ page_data.next_ordinal }}"
          aria-valuemin="0" aria-valuemax="{{ flow_session.page_count }}"
          style="width:{{ percentage }}%">
          {{ page_data.next_ordinal }} / {{ flow_session.page_count }}
        </div>
      </div>
      <div style="clear:both"></div>
    </div>
  </form>

{% endblock %}
