{% extends "course/course-base.html" %}

{% block title %}
  {{flow_desc.title}} - RELATE
{% endblock %}

{% block content %}

  {% if grade_info.total_count %}
  <h1>Results: {{flow_desc.title}}</h1>
  <div class="well flow-well">
    <p>
    You have
    {% if grade_info.max_points != grade_info.max_reachable_points %}
      <b>(so far)</b>
    {% endif %}
    achieved <b>{{ grade_info.provisional_points|floatformat }}</b> out of
    {{ grade_info.max_points|floatformat }}
    points.
    {% if grade_info.max_points != grade_info.max_reachable_points %}
      (Some questions are not graded yet, so your grade will likely
      change.)
    {% else %}
      (That's <b>{{ grade_info.points_percent|floatformat }}%</b>.)
    {% endif %}

    </p>

    <div class="progress">
      <div class="progress-bar progress-bar-success"
        style="width: {{ grade_info.points_percent|floatformat:8 }}%"></div>
      <div class="progress-bar progress-bar-danger"
        style="width: {{ grade_info.missed_points_percent|floatformat:8 }}%"></div>
      <div class="progress-bar progress-bar-info"
        style="width: {{ grade_info.unreachable_points_percent|floatformat:8 }}%"></div>
    </div>

    <p>
    You have answered {{ grade_info.fully_correct_count }} questions
    correctly, {{ grade_info.partially_correct_count }} questions
    partially correctly, and {{ grade_info.incorrect_count }} questions
    incorrectly.
    {% if grade_info.unknown_count %}
    The grade for {{ grade_info.unknown_count }} questions is not yet known.
    {% endif %}
    </p>

    <div class="progress">
      <div class="progress-bar progress-bar-success"
        style="width: {{ grade_info.fully_correct_percent|floatformat:8 }}%"></div>
      <div class="progress-bar progress-bar-warning"
        style="width: {{ grade_info.partially_correct_percent|floatformat:8 }}%"></div>
      <div class="progress-bar progress-bar-danger"
        style="width: {{ grade_info.incorrect_percent|floatformat:8 }}%"></div>
      <div class="progress-bar progress-bar-info"
        style="width: {{ grade_info.unknown_percent|floatformat:8 }}%"></div>
    </div>
  </div>
  {% endif %}

  {{ completion_text|safe }}

  <div class="well flow-well">
    <a class="btn btn-default"
      href="{% url "relate-view_start_flow" course.identifier flow_identifier %}"
      role="button">&laquo; Back to start page</a>
  </div>

{% endblock %}
