{% extends "course/course-base.html" %}
{% load mathfilters %}
{% load i18n %}

{% block title %}
  {{flow_desc.title}} - {{ relate_site_name }}
{% endblock %}

{% block content %}

  {% if grade_info != None %}
      {% if grade_info.total_count or grade_info.optional_total_count %}
          <h1>{% trans "Results" %}: {{flow_desc.title}}</h1>
          <div class="well flow-well">
              {% if grade_info.total_count %}
                  <p>
                      {# Translators: the following 5 blocks of literals make a sentence. PartI #}
                      {% trans "You have" %}
                      {% if grade_info.max_points != grade_info.max_reachable_points %}
                          {# Translators: PartII #}
                          <b>{% trans "(so far)" %}</b>
                      {% endif %}
                      {# Translators: PartIII #}
                      {% blocktrans trimmed with provisional_points=grade_info.provisional_points|floatformat:"-2" max_points=grade_info.max_points|floatformat:"-2" %}
                          achieved <b>{{ provisional_points }}</b> out of
                          {{ max_points }}
                          points.
                      {% endblocktrans %}
                      {% if grade_info.max_points != grade_info.max_reachable_points %}
                          {# Translators: PartIV #}
                          {% blocktrans trimmed %}
                              (Some questions are not graded yet, so your grade will likely
                              change.)
                          {% endblocktrans %}
                      {% else %}
                          {# Translators: PartV #}
                          {% blocktrans trimmed with points_percent=grade_info.points_percent|floatformat:"-2" %}
                              (That's <b>{{ points_percent }}%</b>.)
                          {% endblocktrans %}
                      {% endif %}
                  </p>
                  {% if grade_info.total_points_percent < 100.001 %}
                      {# otherwise we'll have trouble drawing the bar #}
                      <div class="progress">
                          {% with points_percent=grade_info.points_percent|floatformat:"0" %}
                          {% with missed_points_percent=grade_info.missed_points_percent|floatformat:"0" %}
                          <div class="progress-bar progress-bar-success"
                               style="width: {{ points_percent|stringformat:".0f" }}%"></div>
                          <div class="progress-bar progress-bar-danger"
                               style="width: {{ missed_points_percent|stringformat:".0f" }}%"></div>
                          {# percent bar for unreachable_points_percent #}
                          <div class="progress-bar progress-bar-info"
                               style="width: {{ 100|sub:points_percent|sub:missed_points_percent|stringformat:".0f" }}%"></div>
                      </div>
                  {% endif %}
                  <p>
                      {% blocktrans trimmed with fully_correct_count=grade_info.fully_correct_count partially_correct_count=grade_info.partially_correct_count incorrect_count=grade_info.incorrect_count %}
                          You have answered {{ fully_correct_count }} grading questions
                          correctly, {{ partially_correct_count }} questions
                          partially correctly, and {{ incorrect_count }} questions
                          incorrectly.
                      {% endblocktrans %}
                      {% if grade_info.unknown_count %}
                          {% blocktrans trimmed with unknown_count=grade_info.unknown_count %}
                              The grade for {{ unknown_count }} questions is not yet known.
                          {% endblocktrans %}
                      {% endif %}
                  </p>
                  <div class="progress">
                      {% with fully_correct_percent=grade_info.fully_correct_percent|floatformat:"0" %}
                      {% with partially_correct_percent=grade_info.partially_correct_percent|floatformat:"0" %}
                      {% with incorrect_percent=grade_info.incorrect_percent|floatformat:"0" %}
                      <div class="progress-bar progress-bar-success"
                           style="width: {{ fully_correct_percent|stringformat:".0f" }}%"></div>
                      <div class="progress-bar progress-bar-warning"
                           style="width: {{ partially_correct_percent|stringformat:".0f" }}%"></div>
                      <div class="progress-bar progress-bar-danger"
                           style="width: {{ incorrect_percent|stringformat:".0f" }}%"></div>
                      {# percent bar for unknown_percent #}
                      <div class="progress-bar progress-bar-info"
                           style="width: {{ 100|sub:fully_correct_percent|sub:partially_correct_percent|sub:incorrect_percent|stringformat:".0f" }}%"></div>
                  </div>
              {% endif %}
              {% if grade_info.optional_total_count %}
                  <p>
                      {% blocktrans trimmed with total_count=grade_info.optional_total_count fully_correct_count=grade_info.optional_fully_correct_count partially_correct_count=grade_info.optional_partially_correct_count incorrect_count=grade_info.optional_incorrect_count %}
                          There are {{ total_count }} optional questions (not for grading).
                          You have answered {{ fully_correct_count }} correctly,
                          {{ partially_correct_count }} partially correctly,
                          and {{ incorrect_count }} incorrectly.
                      {% endblocktrans %}
                      {% if grade_info.optional_unknown_count %}
                          {% blocktrans trimmed with unknown_count=grade_info.optional_unknown_count %}
                              The correctness for {{ unknown_count }} optional questions is not yet known.
                          {% endblocktrans %}
                      {% endif %}
                  </p>
                  <div class="progress">
                      {% with optional_fully_correct_percent=grade_info.optional_fully_correct_percent|floatformat:"0" %}
                      {% with optional_partially_correct_percent=grade_info.optional_partially_correct_percent|floatformat:"0" %}
                      {% with optional_incorrect_percent=grade_info.optional_incorrect_percent|floatformat:"0" %}
                      <div class="progress-bar progress-bar-success"
                           style="width: {{ optional_fully_correct_percent|stringformat:".0f" }}%"></div>
                      <div class="progress-bar progress-bar-warning"
                           style="width: {{ optional_partially_correct_percent|stringformat:".0f" }}%"></div>
                      <div class="progress-bar progress-bar-danger"
                           style="width: {{ optional_incorrect_percent|stringformat:".0f" }}%"></div>
                      {# percent bar for optional_unknown_percent #}
                      <div class="progress-bar progress-bar-info"
                           style="width: {{ 100|sub:optional_fully_correct_percent|sub:optional_partially_correct_percent|sub:optional_incorrect_percent|stringformat:".0f" }}%"></div>
                  </div>
              {% endif %}
          </div>
      {% endif %}
  {% endif %}

  {{ completion_text|safe }}

  <div class="well flow-well">
    <a class="btn btn-default"
      href="{% url "relate-view_start_flow" course.identifier flow_identifier %}"
      role="button">&laquo; {% trans "Back to start page" %}</a>
  </div>

{% endblock %}
