{% extends "course/course-base.html" %}
{% load i18n %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}
  {{ form_description }} - {{ relate_site_name }}
{% endblock %}

{# keep this in sync with relate/templates/generic-form.html #}
{% block head_assets_form_media %}
  {{ form.media }}
{% endblock %}

{% block content %}
  {% if form_description %}
    <h1>{{ form_description }}</h1>
  {% endif %}
  {{ form_text|safe }}

  {% if form %}
    <div class="well">
      {% crispy form %}
    </div>
  {% endif %}

  {% if forms %}
    {% for sub_form in forms %}
      <div class="well">
        {% crispy sub_form %}
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}
