{% extends "course/course-base.html" %}

{% block title %}
  Grade book: {{ opportunity.name }} - Courseflow
{% endblock %}

{% block content %}
  <h1>Understand a grade: {{ opportunity.name }} </h1>

  <table class="table table-condensed">
    <thead>
      <th>Property</th><th>Value</th>
    </thead>
    <tbody>
    <tr>
      <td>Participant</td>
      <td>
        {{ grade_participation.user.last_name }}, {{ grade_participation.user.first_name }}
        ({{ grade_participation.user.username }})
      </td>
    </tr>
    <tr>
      <td>Identifier</td><td><tt>{{ opportunity.identifier }}</tt></td>
    </tr>
    {% if opportunity.due_time != None %}
      <tr>
        <td>Due</td><td><tt>{{ opportunity.due_time }}</tt></td>
      </tr>
    {% endif %}
    {% if opportunity.flow_id %}
    <tr>
      <td>Flow</td><td><tt><a href="{% url "course.flow.view_start_flow" course.identifier opportunity.flow_id %}">{{ opportunity.flow_id }}</a></tt></td>
    </tr>
    {% endif %}
    <tr>
      <td>Average grade</td>
      <td>
        {% if avg_grade_percentage != None %}
          {{ avg_grade_percentage|floatformat }}%
          (out of {{ avg_grade_population }} grades)
        {% else %}
          <i>(no data)</i>
        {% endif %}
      </td>
    </tr>
  </table>

  {# {{{ grade history #}

  <h2>Grade history</h2>
  {% if not grade_changes%}
    (no grade data available)
  {% else %}
    <table class="table table-condensed table-striped">
      <thead>
        <th>Date</th>
        <th>What</th>
        <th>Grade</th>
        <th>Further Information</th>
      </thead>
      <tbody>
        {% for gchange in grade_changes %}
        <tr>
          <td>{{ gchange.grade_time }}</td>
          <td>
            {% if gchange.is_superseded %}<s>{% endif %}
            {{ gchange.state }}
            {% if gchange.is_superseded %}</s>{% endif %}
          </td>
          <td>
            {% if gchange.is_superseded %}<s>{% endif %}
            {% if gchange.points != None %}
              {{ gchange.points|floatformat:1 }}/{{ gchange.max_points|floatformat:1 }}
              points
              ({{ gchange.percentage|floatformat:1 }}%)
            {% else %}
              (no grade)
            {% endif %}
            {% if gchange.is_superseded %}</s>{% endif %}
          </td>
          <td>
            {% if gchange.comment %}
              {{ gchange.comment }}
            {% endif %}

            {% if gchange.flow_session != None %}
            (from flow session {{ gchange.flow_session.id }})
            {% endif %}
          </td>
        </tr>
        {% endfor %}
        <tr>
          <td><b>Overall grade</b></td>
          <td></td>
          <td>
            <b>{{ state_machine.stringify_state }}</b>
          </td>
          <td>
            (Aggregation strategy: {{ opportunity.aggregation_strategy }})
          </td>
        </tr>
      </tbody>
    </table>
  {% endif %}

  {# }}} #}

  {# {{{ flow-related #}

  {% if flow_sessions_and_session_properties %}
    <h2>Flow sessions</h2>

    <form method="POST">
      {% csrf_token %}
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>State</th>
            <th>Due</th>
            <th>Result</th>
            {% if show_privileged_info %}
              <th>Pages</th>
            {% endif %}
            {% if allow_session_actions %}
              <th>Actions</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for flow_session, session_properties in flow_sessions_and_session_properties %}
            <tr>
              <td>{{ flow_session.id }}</td>
              <td>
                {% include "course/flow-session-state.html" %}
                <hr>
                {% if flow_session.access_rules_tag %}
                  <p>
                    <b>Grading rules:</b>
                    {% if session_properties.grade_description %}
                      {{ session_properties.grade_description }}
                    {% endif %}
                  </p>
                {% endif %}
                <p>
                  <b>Expiration mode:</b>
                  <tt>{{ flow_session.expiration_mode  }}</tt>
                </p>
                <p>
                  <b>Started:</b> {{ flow_session.start_time }}
                </p>
                {% if not flow_session.in_progress %}
                  <p>
                    <b>Completed:</b> {{ flow_session.completion_time }}
                  </p>
                  <p>
                    <b>Last activity:</b> {{ flow_session.last_activity }}
                  </p>
                {% endif %}
              </td>

              <td>
                {% if session_properties.due %}
                  {{ session_properties.due }}
                {% endif %}
              </td>

              <td>
                {% if flow_session.max_points != None %}
                  {% if flow_session.points != None %}
                    <b>{{ flow_session.points|floatformat:1 }}</b>
                    /
                    {{ flow_session.max_points|floatformat:1 }}

                    (<b>{{ flow_session.points_percentage|floatformat }}%</b>)
                  {% else %}
                    (grade not available)
                    ({{ flow_session.max_points|floatformat:1 }} points achievable)
                  {% endif %}
                {% else %}
                  (none)
                {% endif %}
                {% if show_privileged_info and flow_session.result_comment %}
                  <p>
                  <b> Notes:</b>
                  {{ flow_session.result_comment|linebreaks }}
                  </p>
                {% endif %}
              </td>

              {% if show_privileged_info and flow_session.answer_visits %}
                <td>
                  <table class="table table-striped table-condensed">
                    <tr>
                      <th></th>
                      <th>Page ID</th>
                      <th>Percent</th>
                      <th>Points</th>
                      <th>Grader</th>
                    </tr>
                  {% for visit in flow_session.answer_visits %}
                    {% if visit %}
                      <tr>
                        <td>{{ visit.page_data.ordinal }}</td>
                        <td>
                          <a href="{% url "course.grading.grade_flow_page" course.identifier flow_session.id visit.page_data.ordinal %}"><tt>{{ visit.page_data.group_id }}/{{ visit.page_data.page_id }}</tt></a>
                        </td>
                        {% if visit.get_most_recent_grade != None and visit.get_most_recent_grade.value != None %}
                          <td>{{ visit.get_most_recent_grade.percentage }}%</td>
                          <td>{{ visit.get_most_recent_grade.value }}/{{ visit.get_most_recent_grade.max_points }}</td>
                          <td>{{ visit.get_most_recent_grade.grader.username }} </td>
                        {% else %}
                          <td>(no grade)</td>
                          <td></td>
                          <td></td>
                        {% endif %}
                      </tr>
                    {% endif %}
                  {% endfor %}
                  </table>
                </td>
              {% endif %}

              {% if allow_session_actions %}
                <td>
                  <button type="submit" name="regrade_{{flow_session.id}}"
                    class="btn btn-primary btn-xs relate-btn-xs-vert-spaced">
                    Regrade
                  </button>
                  {% if flow_session.in_progress %}
                    <button type="submit" name="expire_{{flow_session.id}}"
                      class="btn btn-primary btn-xs relate-btn-xs-vert-spaced">
                      Expire
                    </button>
                    <button type="submit" name="end_{{flow_session.id}}"
                      class="btn btn-primary btn-xs relate-btn-xs-vert-spaced">
                      End and grade
                    </button>
                  {% else %}
                    <button type="submit" name="reopen_{{flow_session.id}}"
                      class="btn btn-primary btn-xs relate-btn-xs-vert-spaced">
                      Reopen
                    </button>
                    <button type="submit" name="recalculate_{{flow_session.id}}"
                      class="btn btn-primary btn-xs relate-btn-xs-vert-spaced">
                      Recalculate grade
                    </button>
                  {% endif %}
                  <a href="{% url "course.views.grant_exception_stage_3" course.identifier flow_session.participation.id flow_session.flow_id flow_session.id %}"
                    class="btn btn-primary btn-xs relate-btn-xs-vert-spaced">
                    Grant exception
                  </a>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </form>
  {% endif %}

  {% if show_privileged_info %}
    <div class="well">
      <a href="{% url "course.views.grant_exception_stage_2" course.identifier grade_participation.id opportunity.flow_id %}"
        class="btn btn-primary btn-default">
        Grant exception
      </a>
    </div>
  {% endif %}
  {# }}} #}

{% endblock %}

{# vim: set foldmethod=marker: #}
