{% extends "course/course-base.html" %}

{% block title %}
  Grade book - Courseflow
{% endblock %}

{% block content %}
  <h1>Grade book</h1>

  <table class="table table-condensed table-striped">
    <thead>
      <th>User ID</th>
      <th>Name</th>
      {% for opp in grading_opportunities %}
      <th><a href="{% url "course.grades.view_grades_by_opportunity" course.identifier opp.pk %}">{{ opp.name }}</a> <tt style="font-size:x-small">({{ opp.identifier }})</th>
      {% endfor %}
    </thead>
    <tbody>
      {% for participation, grades in grade_table %}
      <tr>
        <td>{{ participation.user.username }}</td>
        <td>
          {{ participation.user.last_name }},
          {{ participation.user.first_name }}
        </td>
        {% for grade_info in grades %}
          <td>
            <a href="{% url "course.grades.view_single_grade" course.identifier participation.id grade_info.opportunity.id %}"
              >{{ grade_info.grade_state_machine.stringify_state }}</a>
          </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

