{% extends "course/course-base.html" %}
{% load i18n %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %} {% blocktrans trimmed %} 
  Grade book: {{ opportunity.name }} - RELATE
 {% endblocktrans %} {% endblock %}

{% block header_extra %}
    {# the min.js version contains all dependencies #}
    <script src="{% static "datatables/media/js/jquery.dataTables.min.js" %}"></script>
    <link href="{% static "datatables/media/css/jquery.dataTables.min.css" %}" rel="stylesheet">

    <script src="{% static "datatables-fixedcolumns/js/dataTables.fixedColumns.js" %}"></script>
    <link href="{% static "datatables-fixedcolumns/css/dataTables.fixedColumns.css" %}" rel="stylesheet">
{% endblock %}


{% block content %}
  <h1> {% blocktrans %} Grade book: {{ opportunity.name }}  {% endblocktrans %} </h1>

  <table class="table table-condensed">
    <thead>
      <th>{% trans "Property" %}</th><th>{% trans "Value" %}</th>
    </thead>
    <tbody>
    <tr>
      <td>{% trans "Identifier" %}</td><td><tt>{{ opportunity.identifier }}</tt></td>
    </tr>
    <tr>
      <td>{% trans "Due" %}</td><td><tt>{{ opportunity.due_time }}</tt></td>
    </tr>
    <tr>
      <td>{% trans "Aggregation strategy" %}</td><td><tt>{{ opportunity.aggregation_strategy }}</tt></td>
    </tr>
    {% if opportunity.flow_id %}
    <tr>
      <td>{% trans "Flow" %}</td>
      <td>
        <tt><a href="{% url "relate-view_start_flow" course.identifier opportunity.flow_id %}">{{ opportunity.flow_id }}</a></tt>
        &middot;
        <a href="{% url "relate-show_grading_statistics" course.identifier opportunity.flow_id %}">{% trans "Grading statistics" %}</a>
      </td>
    </tr>
    <tr>
      <td>{% trans "Counts" %}</td>
      <td>
        {% blocktrans %} {{ total_sessions }} total sessions
        ({{ finished_sessions }} finished) {% endblocktrans %}
      </td>
    </tr>
    {% endif %}

  </table>

  <table class="gradebook-by-opportunity">
    <thead>
      <th class="datacol">{% trans "User ID" %}</th>
      <th class="datacol">{% trans "Name" %}</th>
      <th class="datacol">{% trans "Overall grade" %}</th>
      <th class="datacol">{% trans "Sessions" %}</th>
    </thead>
    <tbody>
      {% for participation, grade_info in grade_table %}
      <tr>
        <td class="datacol"><a href="{% url "relate-view_single_grade" course.identifier participation.id opportunity.id %}">{{ participation.user.username }}</a></td>
        <td class="datacol">
          {{ participation.user.last_name }},
          {{ participation.user.first_name }}
          {% if participation.role != participation_role.student %}
            ({{ participation.role }})
          {% endif %}
        </td>
        <td class="datacol"
          {% if grade_info.grade_state_machine.percentage != None %}
            data-order="{{ grade_info.grade_state_machine.percentage }}"
          {% else %}
            data-order="-1"
          {% endif %}
          >
          <a href="{% url "relate-view_single_grade" course.identifier participation.id opportunity.id %}"
            >{{ grade_info.grade_state_machine.stringify_state }}</a>
        </td>
          <td class="datacol" data-order="{{ grade_info.flow_sessions|length }}">
          {% if grade_info.flow_sessions %}
            <ul>
              {% for flow_session in grade_info.flow_sessions %}
                <li>
                  {% include "course/flow-session-state.html" %}
                  {% if not flow_session.in_progress %}
                    ({{ flow_session.completion_time }})
                  {% endif %}
                  {% if flow_session.access_rules_tag %}
                    (Rules tag: <tt>{{ flow_session.access_rules_tag }}</tt>)
                  {% endif %}
                  {% if flow_session.points != None %}
                    {{ flow_session.points|floatformat:1 }}/{{ flow_session.max_points|floatformat:1 }}
                    {% trans "points" %}
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <script type="text/javascript">
    var tbl = $("table.gradebook-by-opportunity").dataTable({
        "scrollCollapse": true,
        "paging": false,
        "ordering": true,
    } );
  </script>

  {% if batch_session_ops_form %}
    <div class="well" style="margin-top: 20px">
      <h3 class="start-well-title">{% trans "Batch sessions operations" %}</h3>
      {% crispy batch_session_ops_form %}
    </div>
  {% endif %}

{% endblock %}
