{% extends "course/course-datatables.html" %}

{% load i18n %}

{% load static %}

{% block title %}
  {% trans "List of Grading Opportunities" %} - {{ relate_site_name }}
{% endblock %}

{% block content %}
  <h1>{% trans "List of Grading Opportunities" %}</h1>

  <a href="{% url "relate-edit_grading_opportunity" course.identifier -1 %}" class="btn btn-secondary">{% trans "Add grading opportunity" %}</a>

  <table class="table table-striped gradebook-opportunities">
    <thead>
      <th class="datacol">{% trans "Name of grading opportunity" %}</th>
      {% if pperm.edit_grading_opportunity %}
        <th class="datacol">{% trans "Actions" %}</th>
      {% endif %}
      <th class="datacol">{% trans "Flow ID" %}</th>
      <th class="datacol">{% trans "Aggregation strategy" %}</th>
      <th class="datacol">{% trans "Due time" %}</th>
      <th class="datacol">{% trans "Shown to participants" %}</th>
    </thead>
    <tbody>
      {% for opp in grading_opps %}
      <tr
        class="
          {% if not opp.shown_in_grade_book %}
            relate-invisible-grading-opportunity
          {% endif %}
        ">
        <td class="datacol" data-order="{{ opp.identifier }}">
          <a href="{% url "relate-view_grades_by_opportunity" course.identifier opp.id %}">{{ opp.name }}</a>
          <span style="font-size:x-small">(<tt>{{ opp.identifier }}</tt>)</span>
        </td>
        {% if pperm.edit_participation %}
          <td class="datacol">
            <a href="{% url "relate-edit_grading_opportunity" course.identifier opp.id %}" class="btn btn-secondary btn-xs">{% trans "Edit" %}</a>
          </td>
        {% endif %}
        <td class="datacol">
          {% if opp.flow_id %}
            <a href="{% url "relate-view_start_flow" course.identifier opp.flow_id %}">{{ opp.flow_id }}</a>
          {% endif %}
        </td>
        <td class="datacol">{{ opp.aggregation_strategy }}</td>
        <td class="datacol"
         {% if  opp.due_time != None %}
             data-order="{{ opp.due_time.isoformat }}"
          {% else %}
             data-order=""
          {% endif %}
          >{{ opp.due_time }}</td>
        <td class="datacol">
          {% if opp.shown_in_participant_grade_book and opp.result_shown_in_participant_grade_book %}
            <i class="fa fa-check-square-o"></i>
          {% else %}
            <i class="fa fa-square-o"></i>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block page_bottom_javascript_extra %}
  {% get_current_js_lang_name as LANG %}
  <script type="text/javascript">
    var tbl = $("table.gradebook-opportunities").dataTable({
        "scrollCollapse": true,
        "paging": false,
        "ordering": true,
        "language": {url: '{% static "datatables-i18n/i18n/" %}{{LANG}}.json'},
    } );
  </script>
  {{ block.super }}
{% endblock %}
