{% extends "course/course-base.html" %}

{% block title %}
  Grade book: {{ opportunity.name }} - Courseflow
{% endblock %}

{% block content %}
  <h1>Understand a grade: {{ opportunity.name }} </h1>

  <table class="table table-condensed">
    <thead>
      <th>Property</th><th>Value</th>
    </thead>
    <tbody>
    <tr>
      <td>Participant</td>
      <td>
        {{ grade_participation.user.last_name }}, {{ grade_participation.user.first_name }}
        ({{ grade_participation.user.username }})
      </td>
    </tr>
    <tr>
      <td>Identifier</td><td><tt>{{ opportunity.identifier }}</tt></td>
    </tr>
    {% if opportunity.due_time != None %}
      <tr>
        <td>Due</td><td><tt>{{ opportunity.due_time }}</tt></td>
      </tr>
    {% endif %}
    {% if opportunity.flow_id %}
    <tr>
      <td>Flow</td><td><tt><a href="{% url "course.flow.start_flow" course.identifier opportunity.flow_id %}">{{ opportunity.flow_id }}</a></tt></td>
    </tr>
    {% endif %}
  </table>

  {# {{{ grade history #}

  <h2>Grade history</h2>
  {% if not grade_changes%}
    (no grade data available)
  {% else %}
    <table class="table table-condensed table-striped">
      <thead>
        <th>Date</th>
        <th>What</th>
        <th>Grade</th>
        <th>Further Information</th>
      </thead>
      <tbody>
        {% for gchange in grade_changes %}
        <tr>
          <td>{{ gchange.grade_time }}</td>
          <td>
            {% if gchange.is_superseded %}<s>{% endif %}
            {{ gchange.state }}
            {% if gchange.is_superseded %}</s>{% endif %}
          </td>
          <td>
            {% if gchange.is_superseded %}<s>{% endif %}
            {% if gchange.points != None %}
              {{ gchange.points|floatformat:1 }}/{{ gchange.max_points|floatformat:1 }}
              points
              ({{ gchange.percentage|floatformat:1 }}%)
            {% endif %}
            {% if gchange.is_superseded %}</s>{% endif %}
          </td>
          <td>
            {% if gchange.comment %}
              {{ gchange.comment }}
            {% endif %}

            {% if gchange.creator != None %}
              (by {{ gchange.creator.last_name }}, {{ gchange.creator.first_name }})
            {% else %}
              (machine-generated)
            {% endif %}

            {% if gchange.flow_session != None %}
            (from flow session {{ gchange.flow_session.id }})
            {% endif %}
          </td>
        </tr>
        {% endfor %}
        <tr>
          <td><b>Overall grade</b></td>
          <td></td>
          <td>
            <b>{{ state_machine.stringify_state }}</b>
          </td>
          <td>
            (Aggregation strategy: {{ opportunity.aggregation_strategy }})
          </td>
        </tr>
      </tbody>
    </table>
  {% endif %}

  {# }}} #}

  {# {{{ flow-related #}

  {% if flow_sessions %}
    <h2>Flow sessions</h2>

    {% if flow_rules or flow_grade_aggregation_strategy %}
      {% include "course/flow-rules.html" with rules=flow_rules grade_aggregation_strategy=flow_grade_aggregation_strategy %}
    {% endif %}

    <form method="POST">
      {% csrf_token %}
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>State</th>
            <th>Result</th>
            {% if show_page_grades %}
              <th>Pages</th>
            {% endif %}
            {% if allow_session_actions %}
              <th>Actions</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for flow_session in flow_sessions %}
            <tr>
              <td>{{ flow_session.id }}</td>
              <td>
                {% include "course/flow-session-state.html" %}
                <hr>
                <p>
                  <b>Rules:</b>
                  {% if flow_session.access_rules_id %}
                    <tt>{{ flow_session.access_rules_id  }}</tt>
                  {% else %}
                    (None)
                  {% endif %}
                </p>
                <p>
                  <b>Started:</b> {{ flow_session.start_time }}
                </p>
                {% if not flow_session.in_progress %}
                  <p>
                    <b>Completed:</b> {{ flow_session.completion_time }}
                  </p>
                {% endif %}
              </td>
              <td>
                {% if flow_session.max_points != None %}
                  {% if flow_session.points != None %}
                    <b>{{ flow_session.points|floatformat:1 }}</b>
                    /
                    {{ flow_session.max_points|floatformat:1 }}

                    (<b>{{ flow_session.points_percentage|floatformat }}%</b>)
                  {% else %}
                    (grade missing)
                    ({{ flow_session.max_points|floatformat:1 }} points achievable)
                  {% endif %}
                {% else %}
                  (none)
                {% endif %}

              </td>

              {% if show_page_grades %}
                <td>
                  <table class="table">
                  {% for visit in flow_session.answer_visits %}
                    {% if visit %}
                      <tr>
                        <td>Page {{ visit.page_data.ordinal }}</td>
                        <td>
                          <a href="{% url "course.grading.grade_flow_page" course.identifier flow_session.id visit.page_data.ordinal %}"><tt>{{ visit.page_data.group_id }}/{{ visit.page_data.page_id }}</tt></a>
                        </td>
                        {% if visit.get_most_recent_grade != None and visit.get_most_recent_grade.value != None %}
                          <td>{{ visit.get_most_recent_grade.percentage }}%</td>
                          <td>({{ visit.get_most_recent_grade.value }}/{{ visit.get_most_recent_grade.max_points }} points)</td>
                        {% else %}
                          <td>(no grade)</td>
                          <td></td>
                        {% endif %}
                      </tr>
                    {% endif %}
                  {% endfor %}
                  </table>
                </td>
              {% endif %}

              {% if allow_session_actions %}
                <td>
                  {% if flow_session.in_progress %}
                    <button type="submit" name="end_{{flow_session.id}}" class="btn btn-primary btn-xs">
                      End and grade
                    </button>
                  {% else %}
                    <button type="submit" name="reopen_{{flow_session.id}}" class="btn btn-primary btn-xs">
                      Reopen
                    </button>
                    <button type="submit" name="regrade_{{flow_session.id}}" class="btn btn-primary btn-xs">
                      Regrade
                    </button>
                  {% endif %}
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </form>
  {% endif %}

  {# }}} #}

{% endblock %}

{# vim: set foldmethod=marker: #}
