{% extends "course/course-base.html" %}
{% load i18n %}

{% block title %}
  {% trans "Grade book" %} - {% trans "RELATE" %}
{% endblock %}

{% block header_extra %}
  {% include "datatables-header.html" %}
{% endblock %}

{% block content %}
  <h1>{% trans "Grade book" %}</h1>

  <table class="table table-striped gradebook ">
    <thead>
      <th class="headcol">{% trans "User ID" %}</th>
      <th class="datacol">{% trans "Name" context "real name of a user" %}</th>
      {% for opp in grading_opportunities %}
      <th class="datacol"><a href="{% url "relate-view_grades_by_opportunity" course.identifier opp.pk %}">{{ opp.name }}</a> <tt style="font-size:x-small">({{ opp.identifier }})</tt></th>
      {% endfor %}
    </thead>
    <tbody>
      {% for participation, grades in grade_table %}
      <tr>
        <td class="headcol"><a href="{% url "relate-view_participant_grades" course.identifier participation.id %}"><span class="sensitive">{{ participation.user.username }}</span></a></td>
        <td class="datacol">
          <span class="sensitive">
            {{ participation.user.get_full_name }}
          </span>
          ({{ participation.get_role_desc }})
        </td>
        {% for grade_info in grades %}
          <td class="datacol"
            {% if grade_info.grade_state_machine.percentage != None %}
            data-order="{{ grade_info.grade_state_machine.percentage }}"
            {% else %}
            data-order="-1"
            {% endif %}
                      >
            <a href="{% url "relate-view_single_grade" course.identifier participation.id grade_info.opportunity.id %}"
               ><span class="sensitive">{{ grade_info.grade_state_machine.stringify_state }}</span></a>
          </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% load static coursetags %}
  {% get_current_js_lang_name as LANG %}
  <script type="text/javascript">
    var tbl = $("table.gradebook").dataTable({
        "scrollX": true,
        "scrollCollapse": true,
        "paging": true,
        "ordering": true,
        "columnDefs": [{ type: 'name', targets: 1 }],
        "language": {url: '{% static "datatables-i18n/i18n/" %}{{LANG}}.json'},
    } );
    new $.fn.dataTable.FixedColumns(tbl);
  </script>

{% endblock %}
