{% extends "course/course-base.html" %}
{% load i18n %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}
  {% trans "Grade book" %}: {{ opportunity.name }} - {% trans "RELATE" %}
{% endblock %}

{% block header_extra %}
  {% include "datatables-header.html" %}
{% endblock %}


{% block content %}
  <h1>{% trans "Grade book" %}: {{ opportunity.name }} </h1>

  <table class="table table-condensed">
    <thead>
      <th>{% trans "Property" %}</th><th>{% trans "Value" %}</th>
    </thead>
    <tbody>
    <tr>
      <td>{% trans "Grading Opportunity ID" %}</td><td><tt>{{ opportunity.identifier }}</tt></td>
    </tr>
    <tr>
      <td>{% trans "Due" %}</td><td><tt>{{ opportunity.due_time }}</tt></td>
    </tr>
    <tr>
      <td>{% trans "Aggregation strategy" %}</td><td><tt>{{ opportunity.aggregation_strategy }}</tt></td>
    </tr>
    {% if opportunity.flow_id %}
    <tr>
      <td>{% trans "Flow" %}</td>
      <td>
        <a href="{% url "relate-view_start_flow" course.identifier opportunity.flow_id %}"><tt>{{ opportunity.flow_id }}</tt> {% trans "(Start page)" %}</a>
      </td>
    </tr>
    <tr>
      {# Translators: "Counts" on the quantities of total session and finished sessions #}
      <td>{% trans "Counts" %}</td>
      <td>
        {% blocktrans trimmed %}
        {{ total_sessions }} total sessions
        ({{ finished_sessions }} finished)
        {% endblocktrans %}
      </td>
    </tr>
    <tr>
      <td>{% trans "Operations" %}</td>
      <td>
        <a class="btn btn-default" role="button"
          href="{% url "relate-flow_analytics" course.identifier opportunity.flow_id %}">{% trans "View analytics" %}</a>
        <a class="btn btn-default" role="button"
          href="{% url "relate-show_grader_statistics" course.identifier opportunity.flow_id %}">{% trans "View grader statistics" %}</a>
        <a class="btn btn-default" href="{% url "relate-download_all_submissions" course.identifier opportunity.flow_id %}"
            role="button">{% trans "Download submissions" %}</a>
      </td>
    </tr>
    {% endif %}
  </table>

  {% if batch_session_ops_form %}
    <div class="well" style="margin-top: 20px">
      <h3 class="start-well-title">{% trans "Modify many sessions at once" %}</h3>
      {% crispy batch_session_ops_form %}

      <div class="text-muted col-lg-offset-2" style="margin-top:1ex">
      {% blocktrans trimmed %}
        <p>
        "Impose deadline (Expire sessions)" will find all sessions for this flow that match the
        selected session tag and, depending on the session's selected choice of
        action at the deadline (aka its "expiration mode"), either end the
        session or roll it over to the now-current set of grading rules.
        (The "session tag" corresponds to session tags you may have defined
        in your access rules.)
        </p>

        <p>
        "Regrade ended sessions" will rerun the grading code on all submissions
        that are no longer in progress. If the flow involved code questions,
        this may be a long-running operation.
        </p>

        <p>
        "Recalculate grades of ended sessions", by contrast, will not try to
        redetermine the correctness of the answers provided by the participant.
        Instead, it will merely use the already available correctness
        information to recompute the grade achieved, taking into account
        possible changes in the grading rules.
        </p>
      {% endblocktrans %}
      </div>
    </div>
  {% endif %}

  <table class="table table-striped gradebook-by-opportunity">
    <thead>
      <th class="datacol">{% trans "User ID" %}</th>
      <th class="datacol">{% trans "Last name" %}</th>
      <th class="datacol">{% trans "First name" %}</th>
      <th class="datacol">{% trans "Role" %}</th>
      <th class="datacol">{% trans "Overall grade" %}</th>
      <th class="datacol">{% trans "Sessions" %}</th>
    </thead>
    <tbody>
      {% for participation, grade_info in grade_table %}
      <tr>
        <td class="datacol">
          <a href="{% url "relate-view_single_grade" course.identifier participation.id opportunity.id %}"><span class="sensitive">{{ participation.user.username }}</span></a>
        </td>
        <td class="datacol">
          <span class="sensitive">
            {{ participation.user.last_name }}
          </span>
        </td>
        <td class="datacol">
          <span class="sensitive">
            {{ participation.user.first_name }}
          </span>
        </td>
        <td class="datacol">
          {{ participation.role }}
        </td>
        <td class="datacol"
          {% if grade_info.grade_state_machine.percentage != None %}
            data-order="{{ grade_info.grade_state_machine.percentage }}"
          {% else %}
            data-order="-1"
          {% endif %}
          >

          <a href="{% url "relate-view_single_grade" course.identifier participation.id opportunity.id %}"
             ><span class="sensitive">{{ grade_info.grade_state_machine.stringify_state }}</span></a>
        </td>
          <td class="datacol" data-order="{{ grade_info.flow_sessions|length }}">
          {% if grade_info.flow_sessions %}
            <ul>
              {% for flow_session in grade_info.flow_sessions %}
                <li>
                  {% include "course/flow-session-state.html" %}
                  {% if not flow_session.in_progress %}
                    ({{ flow_session.completion_time }})
                  {% endif %}
                  {% if flow_session.access_rules_tag %}
                    ({% trans "Rules tag" %}: <tt>{{ flow_session.access_rules_tag }}</tt>)
                  {% endif %}
                  {% if flow_session.points != None %}
                    {% blocktrans trimmed with points=flow_session.points|floatformat:1 max_points=flow_session.max_points|floatformat:1 %}
                    {{ points }}/{{ max_points }}
                    points
                    {% endblocktrans %}
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% load coursetags %}
  {% get_current_js_lang_name as LANG %}
  <script type="text/javascript">
    var tbl = $("table.gradebook-by-opportunity").dataTable({
        "scrollCollapse": true,
        "paging": false,
        "ordering": true,
        "columnDefs": [{ type: 'name', targets: 1 }],
        "language": {url: '{% static "datatables-i18n/i18n/" %}{{LANG}}.json'},
    } );
  </script>

{% endblock %}
