{% extends "course/course-base.html" %}

{% block title %}
  My Grades - Courseflow
{% endblock %}

{% block content %}
  {% if grade_participation.pk == participation.pk %}
    <h1>My Grades</h1>
  {% else %}
    <h1>Grades</h1>

    <table class="table table-condensed">
      <thead>
        <th>Property</th><th>Value</th>
      </thead>
      <tbody>
      <tr>
        <td>Username</td>
        <td>{{ grade_participation.user.username }}</td>
      </tr>
      <tr>
        <td>Name</td>
        <td>
          {{ grade_participation.user.last_name }}, {{ grade_participation.user.first_name }}
        </td>
      </tr>
    </table>
  {% endif %}

  <table class="table table-condensed table-striped">
    <thead>
      <th>Name</th>
      <th>Grade</th>
      <th>Date</th>
    </thead>
    <tbody>
      {% for grade_info in grade_table %}
      <tr>
        <td>{{ grade_info.opportunity.name }}</td>
        <td>
          <a href="{% url "course.grades.view_single_grade" course.identifier participation.id grade_info.opportunity.id %}"
            >{{ grade_info.grade_state_machine.stringify_state }}</a>
        </td>
        <td>
          {{ grade_info.grade_state_machine.last_graded_time }}</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}


