{% extends "course/course-base.html" %}

{% load crispy_forms_tags %}

{% block title %}
   {{ page_data.group_id }}/{{ page_data.page_id }} - {{ flow_identifier}} - Grading - RELATE
{% endblock %}

{% block root_container %}
  <div class="grading-page-student-work">
    <div class="row">
      {# {{{ student view #}

      {{ body|safe }}

      {% if form_html %}
        <div class="well">
          {{ form_html|safe }}
        </div>
      {% endif %}

      {% if feedback %}
        <div class="alert
          {% if feedback.correctness == 1 %}
            alert-success
          {% elif feedback.correctness == 0 %}
            alert-danger
          {% else%}
            alert-info
          {% endif %}
          ">
            <p>{{ feedback.feedback|safe }}</p>
            {% if feedback.bulk_feedback %}
              <p>{{ feedback.bulk_feedback|safe }}</p>
            {% endif %}
        </div>
      {% endif %}

      {# }}} #}

    </div>
  </div>
  <div class="grading-page-grade-entry">
    <div class="row">
      <h1>Grading: <tt>{{ flow_identifier}} - {{ page_data.group_id }}/{{ page_data.page_id }}</tt></h1>

      {% include "base-page-top.html" %}

      {# {{{ header table #}
      <table class="table table-condensed">
        <thead>
          <th>Property</th><th>Value</th>
        </thead>
        <tbody>
        <tr>
          <td>Flow session</td>
          <td>
            <tt><a href="{% url "relate-view_single_grade" course.identifier flow_session.participation.id grading_opportunity.id %}"><i class="fa fa-level-up"></i> {{ flow_identifier }}</a></tt>
            for
            {{ flow_session.participation.user.last_name }}, {{ flow_session.participation.user.first_name }}
            ({{ flow_session.participation.user.username }})
          </td>
        </tr>
        <tr>
          <td>
            {% if prev_flow_session_id != None %}
              <a href="{% url "relate-grade_flow_page" course.identifier prev_flow_session_id page_data.ordinal %}"
                 accesskey="p" class="btn btn-default btn-xs" title="Alt/Cmd(+Shift+)p"><i class="fa fa-chevron-left"></i></a>
            {% else %}
              <a href="#" class="btn btn-default btn-xs disabled"><i class="fa fa-chevron-left"></i></a>
            {% endif %}
            {% if next_flow_session_id %}
              <a href="{% url "relate-grade_flow_page" course.identifier next_flow_session_id page_data.ordinal %}"
                 accesskey="n" class="btn btn-default btn-xs" title="Alt/Cmd+(Shift+)n"><i class="fa fa-chevron-right"></i></a>
            {% else %}
              <a href="#" class="btn btn-default btn-xs disabled"><i class="fa fa-chevron-right"></i></a>
            {% endif %}
            Session
          </td>
          <td>
            ID: {{ flow_session.id }}
            &middot;{% include "course/flow-session-state.html" %}
            &middot; Start: {{ flow_session.start_time }}

          </td>
        </tr>
        <tr>
          <td>
            {% if page_data.ordinal > 0 %}
              <a href="{% url "relate-grade_flow_page" course.identifier flow_session.id page_data.previous_ordinal %}"
                  class="btn btn-default btn-xs"><i class="fa fa-chevron-left"></i></a>
            {% else %}
              <a href="#" class="btn btn-default btn-xs disabled"><i class="fa fa-chevron-left"></i></a>
            {% endif %}
            {% if page_data.next_ordinal < flow_session.page_count %}
              <a href="{% url "relate-grade_flow_page" course.identifier flow_session.id page_data.next_ordinal %}"
                  class="btn btn-default btn-xs"><i class="fa fa-chevron-right"></i></a>
            {% else %}
              <a href="#" class="btn btn-default btn-xs disabled"><i class="fa fa-chevron-right"></i></a>
            {% endif %}
            Page number
          </td>
          <td>
            {{ ordinal }}
          </td>
        </tr>
        {% if max_points != None %}
        <tr>
          <td>Points awarded</td>
          <td>
            {% if points_awarded != None %}
              {{ points_awarded|floatformat:1 }}
            {% else %}
              (unknown)
            {% endif %}
            /
            {{ max_points|floatformat:1 }} point{{ max_points|pluralize }}
          </td>
        </tr>
        {% endif %}
        {% if most_recent_grade != None %}
        <tr>
          <td>Graded</td>
          <td>
            {% if most_recent_grade.grader == None %}
              (autograded)
            {% else %}
              by {{ most_recent_grade.grader.get_full_name }}
            {% endif %}
            at {{ most_recent_grade.grade_time }}
          </td>
        </tr>
        {% endif %}
      </table>
      {# }}} #}

      {# {{{ grading form #}

      {% if grading_form_html != None %}
        {{ grading_form_html|safe }}
      {% endif %}

      {# }}} #}
    </div>
  </div>
{% endblock %}

{# vim: set foldmethod=marker: #}
