{% extends "course/course-base.html" %}
{% load i18n %}

{% load static %}

{% block title %}
  {% trans "List of participants" %} - {{ relate_site_name }}
{% endblock %}

{% block header_extra %}
  {% include "datatables-header.html" %}
{% endblock %}

{% block content %}
  <h1>{% trans "List of participants" %}</h1>

  <a href="{% url "relate-edit_participation" course.identifier -1 %}" class="btn btn-default">{% trans "Add participant" %}</a>

  {% include "course/participation-table.html" with participations=participations %}

{% endblock %}
