{% extends "course/course-base.html" %}
{% load i18n %}

{% load static %}

{% block title %}
  {% trans "My Grades" %} - {% trans "RELATE" %}
{% endblock %}

{% block header_extra %}
  {% include "datatables-header.html" %}
{% endblock %}

{% block content %}
  {% if grade_participation.pk == participation.pk %}
    <h1>{% trans "My Grades" %}</h1>
  {% else %}
    <h1>{% trans "Grades" %}</h1>

    <table class="table table-condensed">
      <thead>
        <th>{% trans "Property" %}</th><th>{% trans "Value" %}</th>
      </thead>
      <tbody>
      <tr>
        <td>{% trans "User ID" %}</td>
        <td><span class="sensitive">{{ grade_participation.user.username }}</span></td>
      </tr>
      <tr>
        <td>{% trans "Name" context "real name of a user" %}</td>
        <td>
          <span class="sensitive">
                {{ grade_participation.user.get_full_name }}
          </span>
        </td>
      </tr>
      <tr>
        <td>{% trans "Tags" %}</td>
        <td>
          {% for ptag in grade_participation.tags.all %}
            {% if not is_student_viewing or ptag.shown_to_participant %}
              <span class="label label-default">{{ ptag.name }}</span>
            {% endif %}
          {% endfor %}
        </td>
      </tr>
    </table>
  {% endif %}

  <table class="table table-striped gradebook-single">
    <thead>
      <th>{% trans "Name of grading opportunity" %}</th>
      <th>{% trans "Grade" %}</th>
      <th>{% trans "Date" %}</th>
    </thead>
    <tbody>
      {% for grade_info in grade_table %}
      {% with grade_info.grade_state_machine as gsm %}
      <tr>
        <td data-order="{{ grade_info.opportunity.identifier }}">{{ grade_info.opportunity.name }}</td>
        <td data-order="{{ gsm.stringify_percentage }}">
          <a href="{% url "relate-view_single_grade" course.identifier grade_participation.id grade_info.opportunity.id %}"
           ><span class="sensitive">{{ gsm.stringify_state }}</span></a>
        </td>
        <td
         {% if  gsm.last_graded_time %}
             data-order="{{ gsm.last_graded_time.isoformat }}"
          {% else %}
             data-order=""
          {% endif %}
          >
          {{ grade_info.grade_state_machine.last_graded_time }}</a>
        </td>
      </tr>
      {% endwith %}
      {% endfor %}
    </tbody>
  </table>

  {% get_current_language as LANGUAGE_CODE %}
  <script type="text/javascript">
    var tbl = $("table.gradebook-single").dataTable({
        "scrollCollapse": true,
        "paging": false,
        "language": {url: '{% static "datatables-i18n/i18n/" %}{{LANGUAGE_CODE}}.json'},
    } );
  </script>

{% endblock %}


