{% extends "course/course-base-with-markup.html" %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block title %}
   {{ page_data.group_id }}/{{ page_data.page_id }} - {{ flow_identifier}} - {% trans "Grading" %} - {{ relate_site_name }}
{% endblock %}

{% block root_container %}
  <div class="row">
    <div class="grading-page-student-work container pt-2">
      {# {{{ student view #}

      <div class="card mb-3" markdown="block">
        <div class="card-header">
          <h5 class="card-title dropdown-toggle">
            <a class="text-decoration-none link-secondary"
              data-bs-toggle="collapse" href="#grading-prompt" aria-expanded="false" aria-controls="grading-prompt">
                {% trans "Prompt" %}
            </a>
          </h5>
        </div>
        <div id="grading-prompt" class="collapse">
         <div class="card-body">
           {{ body|safe }}
         </div>
        </div>
      </div>

      {% if form_html %}
        <div class="relate-well relate-interaction-container">
          {{ form_html|safe }}
        </div>
      {% endif %}

      {% if feedback %}
        <div class="alert
          {% if feedback.correctness >= 1 %}
            alert-success
          {% elif feedback.correctness == 0 %}
            alert-danger
          {% else%}
            alert-info
          {% endif %}
          ">
            <p>{{ feedback.feedback|safe }}</p>
            {% if feedback.bulk_feedback %}
              <p>{{ feedback.bulk_feedback|safe }}</p>
            {% endif %}
        </div>
      {% endif %}

      {# }}} #}

    </div>
    <div class="grading-page-grade-entry container pt-2">
      <h1> {% trans "Grading" %}: <tt>{{ flow_identifier}} - {{ page_data.group_id }}/{{ page_data.page_id }}</tt> </h1>

      {% include "base-page-top.html" %}

      {# {{{ header table #}
      <table class="table table-condensed">
        <tbody>
        {% if grading_opportunity != None %}
          <tr>
            <td>{% trans "Flow session" %}</td>
            <td>
              <tt><a href="{% url "relate-view_single_grade" course.identifier flow_session.participation.id grading_opportunity.id %}"><i class="bi bi-arrow-90deg-up"></i> {{ flow_identifier }}</a></tt>
              <span class="sensitive">
              {% if not pperm.view_participant_masked_profile %}
                  {# Translators: the grade information "for" a participant #}
                  {% blocktrans trimmed with full_name=flow_session.participation.user.get_full_name username=flow_session.participation.user.username %}
                  for
                  {{ full_name }}
                  ({{ username }})
                  {% endblocktrans %}
              {% else %}
                  {# Translators: the grade information "for" a participant #}
                  {% blocktrans trimmed with masked_user_profile=flow_session.participation.user.get_masked_profile %}
                  for
                  {{ masked_user_profile }}
                  {% endblocktrans %}
              {% endif %}
              </span>
            </td>
          </tr>
        {% endif %}
        <tr>
          <td>{% trans "Points awarded" %}</td>
          <td>
            {% if max_points != None %}
              <span class="sensitive">
              {% if points_awarded != None %}
                {{ points_awarded|floatformat:"-2" }}
              {% else %}
                {% trans "(unknown)" %}
              {% endif %}
              /
              {{ max_points|floatformat:1 }}
              {# Translators: the unit name in grading #}
              {% blocktrans trimmed count counter=max_points %}
                point
              {% plural %}
                points
              {% endblocktrans %}
              </span>
            {% else %}
              {% trans "(n/a)" %}
            {% endif %}

            {% if expects_answer %}
              <div class="dropdown" id="past-submission-and-grades_dropdown">
                <button
                    class="btn btn-sm btn-outline-secondary dropdown-toggle"
                    type="button" id="past-submission-and-grades_dropdown_button"
                    hx-get='{% url "relate-get_prev_grades_dropdown_content" course.identifier flow_session.id page_ordinal prev_grade_id %}'
                    hx-target="#past-submission-and-grades_dropdown_content"
                    data-bs-toggle="dropdown">
                  {% trans "Past submissions/grades" %}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu shadow"
                    aria-labelledby="past-submission-and-grades_dropdown_button"
                    id="past-submission-and-grades_dropdown_content">
                  <li style="list-style:none; position:relative; left:50%;">
                    <i class="bi bi-hourglass"></i>
                  </li>
                </ul>
              </div>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>{% trans "Graded" %}</td>
          <td>
            {% if shown_grade != None %}
              {% if shown_grade.grader == None %}
                {% trans "(autograded)" %}
              {% else %}
                {# Translators: the grade is awarded "by" some humman grader. #}
                {% blocktrans trimmed with grader_name=shown_grade.grader.get_full_name %}
                by {{ grader_name }}
                {% endblocktrans %}
              {% endif %}
              {% with time=shown_grade.grade_time %}
              {% trans "at" context "at (what time)" %} {{ time }}
              {% endwith %}
            {% else %}
              {% trans "(n/a)" %}
            {% endif%}
          </td>
        </tr>
        <tr>
          <td>
            {% if prev_flow_session_id != None %}
              <a href="{% url "relate-grade_flow_page" course.identifier prev_flow_session_id page_data.page_ordinal %}"
                 accesskey="p" class="btn btn-secondary" title="Alt/Cmd(+Shift+)p"><i class="bi bi-chevron-left"></i></a>
            {% else %}
              <a href="#" class="btn btn-secondary disabled"><i class="bi bi-chevron-left"></i></a>
            {% endif %}
            {% if next_flow_session_id %}
              <a href="{% url "relate-grade_flow_page" course.identifier next_flow_session_id page_data.page_ordinal %}"
                 accesskey="n" class="btn btn-secondary" title="Alt/Cmd+(Shift+)n"><i class="bi bi-chevron-right"></i></a>
            {% else %}
              <a href="#" class="btn btn-secondary disabled"><i class="bi bi-chevron-right"></i></a>
            {% endif %}
            {% trans "Session" %}
          </td>
          <td>
            ID: {{ flow_session.id }}
            &middot;{% include "course/flow-session-state.html" %}
            &middot; {% trans "Start:"%} {{ flow_session.start_time }}

          </td>
        </tr>
        <tr>
          <td>
            {% if page_data.page_ordinal > 0 %}
              <a href="{% url "relate-grade_flow_page" course.identifier flow_session.id page_data.previous_ordinal %}"
                  class="btn btn-secondary"><i class="bi bi-chevron-left"></i></a>
            {% else %}
              <a href="#" class="btn btn-secondary disabled"><i class="bi bi-chevron-left"></i></a>
            {% endif %}
            {% if page_data.next_ordinal < flow_session.page_count %}
              <a href="{% url "relate-grade_flow_page" course.identifier flow_session.id page_data.next_ordinal %}"
                  class="btn btn-secondary"><i class="bi bi-chevron-right"></i></a>
            {% else %}
              <a href="#" class="btn btn-secondary disabled"><i class="bi bi-chevron-right"></i></a>
            {% endif %}
            {% trans "Page number" %}
          </td>
          <td>
            {{ page_ordinal }}
            &middot;
            <a href="{% url "relate-view_flow_page" course.identifier flow_session.id page_ordinal %}">{% trans "View in flow" %}</a>
          </td>
        </tr>
      </table>
      {# }}} #}

      {# {{{ grading form #}

      {% if grading_form_html != None %}
        {{ grading_form_html|safe }}
      {% endif %}

      {# }}} #}

      {# {{{ correct answer #}

      {% if correct_answer  %}
        <div class="card mt-3">
          <div class="card-header">{% trans "Correct Answer" %}</div>
          <div class="card-body">
            <p>{{ correct_answer|safe }}</p>
          </div>
        </div>
      {% endif %}

      {# }}} #}

    </div>
  </div>

  {# {{{ grade ui #}

  <script>

    function getFeedbackCodemirror() {
      let editorDom = document.querySelector('#div_id_feedback_text .cm-editor');
      if (!editorDom)
        return null;
      return rlCodemirror.EditorView.findFromDOM(editorDom);
    }

    function setFeedback(p) {
      const view = getFeedbackCodemirror();
      const transaction = view.state.update({
        changes: {
          from: 0,
          to: view.state.doc.length,
          insert: p,
        },
      });
      view.dispatch(transaction);
    }

    function getFeedbackItems() {
      const items = localStorage["relate_grade_feedback_items"];
      if (items)
        return JSON.parse(items);
      else
        return [];
    }

    function addFeedback(idx) {
      const items = getFeedbackItems();
      const view = getFeedbackCodemirror();
      const currentValue = view.state.doc.toString();

      let val = "";
      if (currentValue)
        val += "\n";
      val += items[idx];

      const transaction = view.state.update({
        changes: {
          from: view.state.doc.length,
          to: view.state.doc.length,
          insert: val,
        },
      });
      view.dispatch(transaction);
    }

    function copyRubric() {
      setFeedback(document.querySelector("#id_rubric_text").value);
    }

    function addFeedbackItem(p) {
      const item = prompt("{%trans "Enter new feedback item:" %}");
      if (!item)
        return;

      const items = getFeedbackItems();
      items.push(item);
      localStorage["relate_grade_feedback_items"] = JSON.stringify(items);

      updateFeedbackItems();
    }

    function removeFeedbackItem(evt) {
      evt.stopPropagation();

      const id = evt.target.parentNode.id.substr("remove_fb_".length);
      const index = parseInt(id);

      const items = getFeedbackItems();
      items.splice(index, 1);
      localStorage["relate_grade_feedback_items"] = JSON.stringify(items);

      updateFeedbackItems();
    }

    function updateFeedbackItems() {
      let buttons = "";

      const items = getFeedbackItems();

      buttons += "<div class='lh-lg mt-1'>";
      for (var i = 0; i < items.length; ++i)
      {
        var fb = items[i];
        buttons += ("<button class='btn btn-sm btn-outline-secondary' type='button' "
            + "onclick='addFeedback(" + i + ")'>"
            + rlUtils.truncateText(rlUtils.encodeEntities(fb), 25)
            + "</button>"
            + " <a class='remove_fb_button link-secondary' id='remove_fb_"+i+"' href='#'>"
            +   "<i class='bi bi-x-circle'></i>"
            + "</a> "
            );
      }
      buttons += "</div>";

      buttons += "<div class='mt-1'>";
      buttons += ("<button class='btn btn-sm btn-outline-secondary me-1' type='button' "
          + "onclick='addFeedbackItem()'><i class='bi bi-plus'></i> {% trans "Add phrase" %}</button>");
      buttons += ("<button class='btn btn-sm btn-outline-secondary me-1' type='button' "
          + "onclick='copyRubric()'><i class='bi bi-clipboard-check'></i> {% trans "Copy rubric" %}</button>");
      buttons += ("<button class='btn btn-sm btn-outline-danger me-1' type='button' "
          + "onclick='setFeedback(\"\")'>{% trans "Clear" %}</button>");
      buttons += "</div>";

      $("#canned_feedback_items").html(buttons);

      $(".remove_fb_button").click(removeFeedbackItem);
    }


    function processFeedbackChange(feedbackText) {
      try {
        let maxPoints = null;
        let points = null;

        rlUtils.parsePointsSpecs(feedbackText).forEach(
              pspec => {
                    if (pspec.points !== null) {
                      if (points === null)
                        points = 0;

                      points += pspec.points;
                    }
                    else {
                      throw new Error("Not applying points total when a pts spec "
                            + "is missing a point value.");
                    }


                    if (pspec.maxPoints !== null)
                    {
                          if (maxPoints === null)
                            maxPoints = 0;
                          maxPoints += pspec.maxPoints;
                        }
                  })

        if (points !== null)
        {
          if (maxPoints === null)
          {
            document.getElementById("id_grade_points").value = points;
            document.getElementById("id_grade_percent").value = "";
          }
          else
          {
            document.getElementById("id_grade_points").value = "";
            document.getElementById("id_grade_percent").value = 100*points/maxPoints;
          }
        }
      }
      catch (err)
      {
        bsUtils.showToast(err);
      }
    }

    function listenForFocusHotkey(e) {
      if (e.key === "F" && e.ctrlKey && e.shiftKey && !e.altKey && !e.metaKey
          && !e.isComposing) {
        getFeedbackCodemirror().focus();
        e.stopPropagation();
        e.preventDefault();
      }
    }

    function addGradeUI() {
      $(".grading-page-grade-entry #id_feedback_text_helptext").each(
          function()
          {
            $(this).after("<div id='canned_feedback_items'></div>");
          });

      updateFeedbackItems();

      let fbcm = getFeedbackCodemirror();
      if (fbcm)
      {
        rlCodemirror.setListener(
          getFeedbackCodemirror(),
          (viewUpdate) => {
            if (viewUpdate.docChanged) {
              processFeedbackChange(viewUpdate.view.state.doc.toString())
            }
          })
      }

      document.addEventListener("keydown", listenForFocusHotkey);
    }

    $(document).ready(addGradeUI);

    {% if page_data.next_ordinal < flow_session.page_count %}
      var next_page_url = "{% url "relate-grade_flow_page" course.identifier flow_session.id page_data.next_ordinal %}";
    {% else %}
      var next_page_url = null;
    {% endif %}

    {% if next_flow_session_id %}
      var next_session_url = "{% url "relate-grade_flow_page" course.identifier next_flow_session_id page_data.page_ordinal %}";
    {% else %}
      var next_session_url = null;
    {% endif %}

    function saveAndNextPage()
    {
      window.open(next_page_url, "_blank");
      $("#submit-id-submit").click();
    }

    function saveAndNextSession()
    {
      window.open(next_session_url, "_blank");
      $("#submit-id-submit").click();
    }

    function addSubmitNext()
    {
      if (next_page_url)
        $(".grading-page-grade-entry .row:last div:last").append(
            " <button class='btn btn-outline-primary' id='save_next_page' type='button'>"
            + "{% trans "Submit and next page" %} &raquo;"
            + "</button>");
      if (next_session_url)
        $(".grading-page-grade-entry .row:last div:last").append(
            " <button class='btn btn-outline-primary' id='save_next_session' type='button'>"
            + "{% trans "Submit and next session (Alt+S)" %} &raquo;"
            + "</button>");

      $("#save_next_page").click(saveAndNextPage);
      $("#save_next_session").click(saveAndNextSession);

      {# http://stackoverflow.com/a/9549716/3437454 #}
      $(".relate-grading-form").prepend($(".row:last").clone(true, true));

      // Set only on one of the two copies, to avoid Firefox noticing
      // an ambiguity.
      let saveNext  =document.getElementById('save_next_session');
      if (saveNext) {
        saveNext.accessKey = 's';
      }
    }

    $(document).ready(addSubmitNext);
  </script>

  {# }}} #}

{% endblock %}

{# vim: set foldmethod=marker: #}
