{% extends "base.html" %}
{% load i18n %}

{% block content %}
  {% block cover %}

    <div class="card text-dark bg-light mb-3">
      <div class="card-body">
        <h1>{% blocktrans with RELATE=relate_site_name %} Welcome to {{ RELATE }} {% endblocktrans %}</h1>
        <p>{% trans "RELATE is an Environment for Learning And TEaching" %}</p>
        <p>
        <a class="btn btn-lg btn-primary" href="https://github.com/inducer/relate" role="button">{% trans "Learn more" %} &raquo;</a>
        </p>
      </div>
    </div>
    <div class="jumbotron">
    </div>
  {% endblock %}
  {% block course_list %}
    {% if current_courses or past_courses %}
      {% block current_course_list %}
        {% if current_courses %}
          <div class="d-flex mb-1 flex-wrap">
            {% for course in current_courses %}
              <div class="card me-3 mb-3" style="width: 18rem;">
                <h5 class="card-header">{{course.name}}</h3>
                <div class="card-body">
                  <p class="text-muted card-text">{{course.number}} {{course.time_period}}</p>
                  <a class="btn btn-primary" href="{% url 'relate-course_page' course.identifier %}" role="button">{% trans "View" %} &raquo;</a>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endblock %}
      {% if past_courses %}
        {% block past_course_list %}
          <h3>{% trans "Past Courses" %}</h3>
          <table class="table table-condensed">
            <tr>
              <th>Number</th>
              <th></th>
              <th>Name</th>
              <th>Time</th>
            </tr>
            {% for course in past_courses %}
              <tr
                  {% if not course.accepts_enrollment or course.hidden %}
                    class="text-muted"
                  {% endif %}
                    >
                    <td><a class="link-secondary" href="{% url 'relate-course_page' course.identifier %}">{{course.number}}</a></td>
                    <td><a class="link-secondary" href="{% url 'relate-course_page' course.identifier %}">{{course.time_period}}</a></td>
                    <td>{{course.name}}</td>
                    <td>{% if course.start_date %}{{course.start_date}}{% endif %}{% if course.start_date or course.end_date %} - {% endif %}{% if course.end_date %}{{course.end_date}}{% endif %}</td>
              </tr>
            {% endfor %}
          </table>
        {% endblock %}
      {% endif %}
    {% else %}
      {% blocktrans trimmed with RELATE=relate_site_name %} There are no courses hosted on this {{ RELATE }} site. {% endblocktrans %}
      {% if not user.is_authenticated %}
        {% url "relate-sign_in_by_user_pw" as relate-sign_in_by_user_pw %}
        {% blocktrans trimmed %}
          <a href="{{ relate-sign_in_by_user_pw }}">Sign in</a> to get started.
        {% endblocktrans %}
      {% endif %}
    {% endif %}
    {% if user.is_staff %}
      <a class="btn btn-outline-secondary" href="{% url 'relate-set_up_new_course' %}" role="button">{% trans "Set up new course" %} &raquo;</a>
    {% endif %}
  {% endblock %}
{% endblock %}
