{% extends "course/course-base.html" %}
{% load i18n %}

{% block content %}
  <h1>Event validity check</h1>

  {% if invalid_datespecs %}
    The following events were found in course content that are not present
    in the database:
    <ul>
      {% for datespec, locations in invalid_datespecs %}
        <li><tt>{{ datespec }}</tt>:
          <ul>
            {% for location in locations %}
            <li> {{ location }} </li>
            {% endfor %}
          </ul>
      {% endfor %}
    </ul>
    <div class="alert alert-warning">
      <p>
      <b>Unrecognized events were found.</b>
      </p>

      <p>
      Check the "Calendar" functions in the instructor menu to add the
      missing labels.
      </p>
    </div>
  {% else %}
    <div class="alert alert-success">
      No unrecognized events were found.
    </div>
  {% endif %}
{% endblock %}
