{% extends "base.html" %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block content %}
  <h1>{% trans "Sign in" %}</h1>

  <div class="alert alert-info">
    <i class="fa fa-chevron-left"></i>
    {% url "relate-sign_in_choice" as relate-sign_in_choice %}
    {% blocktrans trimmed %}
      If you cannot or would not like to sign in using a {{ RELATE }}-specific
      user name or password,
      <a href='{{ relate-sign_in_choice }}{{next_uri}}'>please choose a different method to sign in</a>.
    {% endblocktrans %}
  </div>
  <div class="alert alert-warning">
    <i class="fa fa-warning"></i>
    {% url "relate-sign_in_choice" as relate-sign_in_choice %}
    {% blocktrans trimmed %}
      Note that the user name and password needed to use this form
      is <em>not</em> the user name and password you may have been
      assigned by your institution.
    {% endblocktrans %}
  </div>
  {% if relate_registration_enabled %}
    <div class="alert alert-info">
      <i class="fa fa-user-plus"></i>
      {% url "relate-sign_up" as relate-sign_up %}
      {% blocktrans trimmed %}
        If you do not have an account,
        <a href='{{ relate-sign_up }}'>sign up</a>.
      {% endblocktrans %}
      {% url "relate-reset_password" as relate-reset_password %}
      {% blocktrans trimmed %}
        If you do not remember your password,
        <a href="{{ relate-reset_password }}"> reset your password </a>.
      {% endblocktrans %}
    </div>
  {% endif %}

  <div class="well">
    <form method="post" class="form-horizontal">
      {% crispy form %}
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>
{% endblock %}
