{% extends "base.html" %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block content %}
  <h1>Sign in or create account</h1>

  <div class="alert alert-warning">
    <ul>
      <li>
        Please use the <em>official</em> email address associated with the
        university or school at which this course is taking place. Some courses
        may require a certain email domain (such as "@illinois.edu") for
        enrollment.
      </li>
      <li>
        If you have a user name and a password, you should use the
        <a href="{% url "relate-sign_in_by_user_pw" %}">password-based sign-in process</a>.
      </li>
    </ul>
  </div>

  <div class="well">
    {% crispy form %}
  </div>
{% endblock %}
