{% extends "base.html" %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block content %}
  <h1>{% trans "Sign in" %}</h1>

  {% if "user_pw" not in student_sign_in_view %}
    <div class="alert alert-warning">
     {% trans "If you have a not been assigned a password, you should use the
      <a href="{% url student_sign_in_view %}"> standard sign-in process </a>." %}
    </div>
  {% else %}
    <div class="alert alert-warning">
     {% trans "If you do not have an account,
      <a href="{% url "relate-sign_up" %}"> sign up </a>.{% endblocktrans" %}
     {% trans "If you do not remember your password,
      <a href="{% url "relate-reset_password" %}"> reset your password </a>.{% endblocktrans" %}
    </div>
  {% endif %}

  <div class="well">
    <form method="post" class="form-horizontal">
      {% crispy form %}
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>
{% endblock %}
