{% extends "course/course-base.html" %}
{% load i18n %}
{% trans relate_site_name as RELATE %}

{% load crispy_forms_tags %}

{% block title %}
  {% trans "Manage Authentication Tokens" %}: - {{ RELATE }}
{% endblock %}

{% block content %}
  <h1>{% trans "Manage Authentication Tokens" %}</h1>

  {{ new_token_message }}

  {% if not tokens %}
    <div class="well">
      {% trans "(No tokens have been created yet.)" %}
    </div>
  {% else %}
    <form method="POST">
    <table class="table table-condensed">
      <thead>
        <th>{% trans "Token ID" %}</th>
        <th>{% trans "Role Restriction" %}</th>
        <th>{% trans "Description" %}</th>
        <th>{% trans "Created" %}</th>
        <th>{% trans "Valid until" %}</th>
        <th>{% trans "Last used" %}</th>
        <th>{% trans "Actions" %}</th>
      </thead>
      <tbody>
        {% for token in tokens %}
          <tr>
            <td>
              {% if token.revocation_time %}
                <s>{{ token.id }}</s>
              {% else %}
                {{ token.id }}
              {% endif %}
            </td>
            <td>{{ token.restrict_to_participation_role }}</td>
            <td>
              {% if token.revocation_time %}
                <s>{{ token.description }}</s>
              {% else %}
                {{ token.description }}
              {% endif %}
            </td>
            <td>{{ token.creation_time }}</td>
            {% if token.revocation_time != None %}
              <td>{% trans "Revoked" %} {{ token.revocation_time }}</td>
            {% elif token.valid_until == None %}
              <td>{% trans "Indefinitely" %}</td>
            {% else %}
              <td>{{ token.valid_until }}</td>
            {% endif %}
            <td>{{ token.last_used }}</td>
            <td>
              {% if token.revocation_time == None %}
                <form method="POST">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger btn-xs" name="revoke_{{ token.id }}">
                    Revoke
                  </button>
                </form>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  <div class="well">
    {% crispy form %}
  </div>
{% endblock %}
