{% load i18n %}
{{ prompt_html|safe }}

{% if show_setup_code or show_test_code %}
  <div class="panel panel-default" markdown="block">
    <div class="panel-heading">
      <h4 class="panel-title">
      <a data-toggle="collapse" href="#grading-code">
        {% trans "Grading code" %}
        <span style="font-size:x-small">{% trans "(click to view)" %}</span>
      </a>
      </h4>
    </div>
    <div id="grading-code" class="panel-collapse collapse">
     <div class="panel-body">
       {% if show_setup_code and setup_code %}
         {% blocktrans trimmed %}
        Set-up:
         <pre>{{ setup_code }}</pre>
         {% endblocktrans %}
      {% endif %}
      {% if show_test_code and test_code %}
         {% blocktrans  trimmed %}
        Grading
         <pre>{{ test_code }}</pre>
         {% endblocktrans %}
      {% endif %}
     </div>
    </div>
  </div>
{% endif %}

{% if initial_code %}
  <div class="panel panel-default" markdown="block">
    <div class="panel-heading">
      <h4 class="panel-title">
      <a data-toggle="collapse" href="#starter-code">
        {% trans "Starter code" %}
        <span style="font-size:x-small">{% trans "(click to view)" %}</span>
      </a>
      </h4>
    </div>
    <div id="starter-code" class="panel-collapse collapse">
     <div class="panel-body">
       <pre>{{ initial_code }}</pre>
     </div>
    </div>
  </div>
{% endif %}
