{% extends "course/course-base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  {% trans "Query Participations" %} - {% trans "RELATE" %}
{% endblock %}

{% block header_extra %}
  {% include "datatables-header.html" %}
{% endblock %}

{% block content %}
  <h1>{% trans "Query Participations" %}</h1>

  <div class="well">
    {% crispy form %}
  </div>

  {% if result %}
    {% include "course/participation-table.html" with participations=result %}
  {% elif result != None %}
    {% trans "No matches" %}
  {% endif %}

{% endblock %}
