{% extends "course/course-datatables.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  {% trans "Query Participations" %} - {{ relate_site_name }}
{% endblock %}

{% block content %}
  <h1>{% trans "Query Participations" %}</h1>

  <div class="relate-well">
    {% crispy form %}
  </div>

  {% if result %}
    {% include "course/participation-table.html" with participations=result %}
  {% elif result != None %}
    {% trans "No matches" %}
  {% endif %}

{% endblock %}
