{% extends "course/course-base-with-markup.html" %}
{% load i18n %}

{% block page_navbar %}
  <div class="relate-dropdown-menu">
    <a href="#" id="dropdownJumpToMenu" data-bs-toggle="dropdown" aria-expanded="false">
      {% trans "Jump to" %}
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownJumpToMenu">
      {% for chunk in chunks %}
        {% if chunk.title %}
          <li><a class="dropdown-item" href="#{{chunk.id}}">{{chunk.title}}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block content %}
  {% block page_content_advisories %}
  {% endblock %}

  {% for chunk in chunks %}
  <a id="{{chunk.id}}"></a>
    {{chunk.html_content|safe}}
  {% endfor %}
{% endblock %}

