{% extends "base.html" %}
{% load i18n %}

{% block header_extra %}
  {% if state != "FAILURE" and state != "SUCCESS" %}
    <meta http-equiv="refresh" content="2" >
  {% endif %}
{% endblock %}

{% block content %}
  <h1>
    {% trans "Task Progress" %}
  </h1>

  <table class="table">
    <tr>
      <th>{% trans "State" %}</th>
      <td>{{ state }}</td>
    </tr>
    {% if progress_statement %}
    <tr>
      <th>{% trans "Progress" %}</th>
      <td>{{ progress_statement }}</td>
    </tr>
    {% endif %}
  </table>

  {% if progress_percent != None %}
    <div class="progress">
      <div class="progress-bar" role="progressbar"
        aria-valuenow="{{ progress_percent }}" aria-valuemin="0" aria-valuemax="100"
        style="width: {{ progress_percent|stringformat:".9f" }}%;">
        {{ progress_percent|floatformat:0 }}%
      </div>
    </div>
  {% else %}
    <div class="progress">
      <div class="progress-bar
      {% if state == "FAILURE" %}
         bg-danger
      {% elif state == "SUCCESS" %}
         bg-success
      {% else %}
         progress-bar-striped progress-bar-anmiated
      {% endif %}"
      role="progressbar"
        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
        style="width: 100%; min-width:4em;">
      </div>
    </div>
  {% endif %}

  {% if traceback %}
    {% blocktrans trimmed %}
      The process failed and reported the following error:
    {% endblocktrans %}
    <pre>{{  traceback }}</pre>
  {% endif %}

{% endblock %}


