.cm-editor .cm-gutters {
  @extend .border-end;
  @extend .border-secondary-subtle;
}

.cm-editor .cm-gutter {
  @extend .bg-secondary-subtle;
  @extend .text-secondary-emphasis;
}

.cm-editor .cm-activeLineGutter {
  @extend .bg-secondary;
  @extend .text-white;
  background-color: yellow;
}

.cm-editor .cm-panels {
  @extend .bg-body-secondary;
  @extend .text-body;
}

.cm-editor .cm-selectionBackground {
  @extend .bg-body-secondary;
}

/* Based on https://discuss.codemirror.net/t/dynamic-light-mode-dark-mode-how/4709/5 */

.cm-editor, .cm-view {

  .cmt-atom      {color: #221199;}
  .cmt-comment   {color: #AA5500;}
  .cmt-keyword   {color: #8959A8;}
  .cmt-literal   {color: #4271AE;}
  .cmt-number    {color: #F5871F;}
  .cmt-operator  {color: #008803;}
  .cmt-separator {color: #990033;}
  .cmt-string    {color: #FF5500;}

  @media (prefers-color-scheme: dark) {
/*Converted from https://github.com/dennis84/codemirror-themes/blob/main/theme/github-dark.ts*/
    
    .cmt-atom      {color: #ffab70;}
    .cmt-comment   {color: #6a737d;}
    .cmt-keyword   {color: #f97583;}
    .cmt-literal   {color: #ffab70;}
    .cmt-number    {color: #79b8ff;}
    .cmt-operator  {color: #f97583;}
    .cmt-separator {color: #ffab70;}
    .cmt-string    {color: #9ecbff;}
  }
}
