.well .start-well-title {
  margin-top:0;
}

table.past-flow-session-table th {
  margin-right:1em;
  border-bottom: 1px solid black;
}

table.past-flow-session-table td {
  padding-right:1em;
  padding-top:4px;
}

table.past-flow-session-table th {
  padding-right:1em;
  padding-top:4px;
}

table.past-flow-session-table {
  margin-bottom: 2ex;
}

/* {{{ flow page */

/* bootstrap padding of well is 19px == (13+6)px */

.flow-well {
  padding-top: 13px;
}

.flow-nav {
  float:left;
  margin-top: 6px;
}

.relate-flow-submit {
  float: right;
  margin-top: 6px;
}

.relate-flow-page-menu {
  float: right;
  margin-top: 6px;
}

.relate-flow-page-send-email {
  float: right;
  margin-top: 6px;
}

.relate-flow-page-past-submissions {
  float: right;
  margin-top: 6px;
}

.flow-session-expiration-panel {
  float:right;
  white-space: nowrap;
  margin-right: 1em;
  margin-top: 6px;
}

.flow-session-expiration-panel .form-control {
  width: auto;
  display: inline;
}

code {
  /* Bootstrap: Hot pink for code? Really? */
  color: #333;
}

.relate-flow-page-toc {
  margin-top: 6px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  text-align: center;
}

.relate-flow-page-bookmark-button.relate-bookmarked {
  background-color: #ff8;
}
.relate-flow-page-bookmark-button.relate-bookmarked:hover {
  background-color: #ee7;
}

.relate-flow-page-toc-item {
  min-width: 2em;
  margin-top: 6px;
  text-align: center;
}

.relate-flow-page-toc-item.relate-answered {
  background-color: #ddd;
}
.relate-flow-page-toc-item.relate-answered:hover {
  background-color: #ccc;
}

.relate-flow-page-toc-item.relate-bookmarked {
  background-color: #ff8;
}
.relate-flow-page-toc-item.relate-bookmarked:hover {
  background-color: #ee7;
}

.relate-flow-page-toc-item.relate-current {
  font-weight: bold;
  background-color: #57c2f7;
  color: white;
}

.relate-session-duration {
  margin-top:1ex;
  text-align: center;
  background-color: #ddd;
  font-weight: bold;
  border-radius: 4px;
}

/* }}} */

/* {{{ histograms */

div.histogram > table {
  border: 0px;
}

td.histogram-title {
  vertical-align: top;
  padding-right: 1em;
}

td.histogram-bar-cell {
  min-width:500px;
}

td.histogram-bar-cell div.progress {
  margin-bottom:5px;
}

.stats-percentage {
  visibility:hidden;
}
div.progress:hover  span.stats-percentage{
  visibility:visible;
}

/* }}} */

/* {{{ calendar */

.fc-other-month {
  background: #eee;
}

.current-access-rule {
  background: #dcdcdc;
}

.result-figure-list dd {
  margin-top: 1ex;
  margin-left: 3em;
  margin-bottom: 1ex;
}

.calendar-descriptions dd {
  margin-left: 3em;
  margin-bottom: 1ex;
}

.relate-calendar-event:target .panel-heading {
  background-color: #ddf;
}

.relate-calendar-event:target .panel-body {
  background-color: #f8f8f8;
}

/* }}} */

.sandbox-page-editor {
  position: absolute;
  top: 60px;
  left: 0;
  width: 50%;
  padding-left:50px;
  padding-right:50px;
  bottom: 0;
  overflow-y: auto;
}
.sandbox-page-preview {
  position: absolute;
  top: 60px;
  right: 0;
  width: 50%;
  bottom: 0;
  overflow-y: auto;
  padding-left:50px;
  padding-right:50px;
}

.grading-page-student-work {
  position: absolute;
  top: 60px;
  left: 0;
  width: 50%;
  bottom: 0;
  padding-left:50px;
  padding-right:50px;
  overflow-y: auto;
}

.grading-page-grade-entry {
  position: absolute;
  top: 60px;
  right: 0;
  width: 50%;
  bottom: 0;
  overflow-y: auto;
  padding-left:50px;
  padding-right:50px;
}

.relate-participation-active {
}
.relate-participation-requested {
  color: blue;
}
.relate-participation-dropped {
  text-decoration: line-through;
  color: #bbb;
}
.relate-participation-denied {
  text-decoration: line-through;
  color: red;
}

.relate-invisible-grading-opportunity {
  color: #bbb;
}
.relate-invisible-grading-opportunity a {
  color: #7cf;
}

/* {{{ codemirror */

.sandbox-page-editor .CodeMirror {
  height:500px;
}

.cm-trailingspace {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUXCToH00Y1UgAAACFJREFUCNdjPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAABJRU5ErkJggg==);
  background-position: bottom left;
  background-repeat: repeat-x;
}
.cm-tab {
   background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAAAXNSR0IArs4c6QAAAGFJREFUSMft1LsRQFAQheHPowAKoACx3IgEKtaEHujDjORSgWTH/ZOdnZOcM/sgk/kFFWY0qV8foQwS4MKBCS3qR6ixBJvElOobYAtivseIE120FaowJPN75GMu8j/LfMwNjh4HUpwg4LUAAAAASUVORK5CYII=);
   background-position: right;
   background-repeat: no-repeat;
}

.CodeMirror.cm-s-relate-readonly {
  background-color: #e8e8e8;
}

/* }}} */

.relate-btn-xs-vert-spaced {
  margin-bottom: 3px;
}


/* Uncomment to blur out identifiable/grade-related data. Useful for demos on live data. */
/*
.sensitive {
  color: transparent !important;
  text-shadow: 0 0 1.25em black;
}
a .sensitive {
  color: transparent !important;
  text-shadow: 0 0 1.25em #337ab7;
}
*/

.list-sign-in-methods {
  list-style: none;
  padding-start: 0;
  -webkit-padding-start: 0;
}
.list-sign-in-methods li {
  margin-bottom: 1ex;
}
.alert-info a {
  text-decoration: underline;
}
.alert-info a.btn {
  text-decoration: none;
}

/* vim: set foldmethod=marker: */
