.flow-well {
  margin-top: 2ex;
}

.flow-progress {
  width:15%;
  float:right;
  margin-top: 5px;
  margin-right: 2em;
  background-color:#fff;
}

.flow-progress > div {
  background-color:#ddd;
  text-color:#eee;
}

