.well .start-well-title {
  margin-top:0;
}

table.past-flow-session-table th {
  margin-right:1em;
  border-bottom: 1px solid black;
}

table.past-flow-session-table td {
  padding-right:1em;
  padding-top:4px;
}

table.past-flow-session-table {
  margin-bottom: 2ex;
}

/* {{{ flow page */

.flow-well {
  margin-top: 2ex;
}

.flow-nav {
  float:left;
}

.flow-progress {
  float:left;
  width:15%;
  margin-top: 0.8ex;
  margin-left: 1.5em;
  background-color:#fff;
  margin-bottom:0px;
}

.flow-progress div {
  background-color:#ddd;
  text-color:#eee;
}

.flow-session-expiration-panel {
  float:right;
  white-space: nowrap;
  margin-right: 1em;
}

.flow-session-expiration-panel .form-control {
  width: auto;
  display: inline;
}

code {
  /* Bootstrap: Hot pink for code? Really? */
  color: #333;
}

/* }}} */

/* {{{ histograms */

div.histogram > table {
  border: 0px;
}

td.histogram-title {
  vertical-align: top;
  padding-right: 1em;
}

td.histogram-bar-cell {
  min-width:500px;
}

td.histogram-bar-cell div.progress {
  margin-bottom:5px;
}

.stats-percentage {
  visibility:hidden;
}
div.progress:hover  span.stats-percentage{
  visibility:visible;
}

/* }}} */

/* {{{ calendar */

.fc-other-month {
  background: #eee;
}

.current-access-rule {
  background: #dcdcdc;
}

.result-figure-list dd {
  margin-top: 1ex;
  margin-left: 3em;
  margin-bottom: 1ex;
}

.calendar-descriptions dd {
  margin-left: 3em;
  margin-bottom: 1ex;
}

.cf-calendar-event:target .panel-heading {
  background-color: #ddf;
}

.cf-calendar-event:target .panel-body {
  background-color: #f8f8f8;
}

/* }}} */

.sandbox-page-editor {
  position: absolute;
  top: 60px;
  left: 0;
  width: 50%;
  padding-left:50px;
  padding-right:50px;
}
.sandbox-page-preview {
  position: absolute;
  top: 60px;
  right: 0;
  width: 50%;
  bottom: 0;
  overflow-y: scroll;
  padding-left:50px;
  padding-right:50px;
}

.sandbox-page-editor .CodeMirror {
  height:800px;
}


/* vim: set foldmethod=marker: */
