.flow-well {
  margin-top: 2ex;
}

.flow-progress {
  width:15%;
  float:right;
  margin-top: 5px;
  margin-right: 2em;
  background-color:#fff;
  margin-bottom:0px;
}

.flow-progress > div {
  background-color:#ddd;
  text-color:#eee;
}

.well .start-well-title {
  margin-top:0;
}

table.past-flow-session-table th {
  margin-right:1em;
  border-bottom: 1px solid black;
}

table.past-flow-session-table td {
  padding-right:1em;
  padding-top:4px;
}

table.past-flow-session-table {
  margin-bottom: 2ex;
}
